DL_NEXUS_V3_LOCAL/09_PRONTOS_PARA_PRODUCAO/083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE.json
{
  "name": "083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publicador-google-business",
        "options": {}
      },
      "id": "webhook-083",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.approved }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-approved",
      "name": "Check Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const summary = $json.body.summary || '';\nconst killTerms = ['visita técnica', 'canaleta plástica', 'manutenção hidráulica pura', 'garantia vitalícia'];\nlet hasKillTerm = false;\nfor (const term of killTerms) {\n  if (summary.toLowerCase().includes(term)) {\n    hasKillTerm = true;\n    break;\n  }\n}\nif (hasKillTerm) {\n  throw new Error('Conteúdo contém termos proibidos pelo KILLCRITIC');\n}\nreturn [{ json: $json.body }];"
      },
      "id": "code-killcritic",
      "name": "KILLCRITIC Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        280
      ]
    },
    {
      "parameters": {
        "url": "https://mybusiness.googleapis.com/v4/accounts/{{$json.google_account_id}}/locations/{{$json.google_location_id}}/localPosts",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "languageCode",
              "value": "pt-BR"
            },
            {
              "name": "summary",
              "value": "={{$json.summary}}"
            },
            {
              "name": "callToAction",
              "value": "={{ { actionType: 'LEARN_MORE', url: 'https://share.google/NGEzAoHXg890EjyiR' } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-google-publish",
      "name": "Publish to Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Check Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approved": {
      "main": [
        [
          {
            "node": "KILLCRITIC Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KILLCRITIC Check": {
      "main": [
        [
          {
            "node": "Publish to Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1",
  "id": "workflow-083-publicador-google-business-nexus-v3",
  "tags": []
}
