DL_NEXUS_V3_LOCAL/13_N8N_PRODUCAO_SYNC/8aYgvQAu4jhROzyy_176_KILLCRITIC_PRECIFICACAO.json
{
  "updatedAt": "2026-05-30T05:33:59.687Z",
  "createdAt": "2026-05-27T23:38:28.159Z",
  "id": "8aYgvQAu4jhROzyy",
  "name": "176_KILLCRITIC_PRECIFICACAO",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "killcritic-precificacao",
        "options": {}
      },
      "id": "5aa4c1ef-3a55-4011-ae93-01c51234abcd",
      "name": "Webhook_Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "killcritic-webhook-176"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  let data = item.json;\n  let jsonString = JSON.stringify(data);\n\n  // REGRAS KILLCRITIC DE TEXTO\n  jsonString = jsonString.replace(/visita\\s*t[ée]cnica/gi, \"Avaliação Técnica\");\n  jsonString = jsonString.replace(/Condfy/gi, \"Fortress\");\n  jsonString = jsonString.replace(/\\bDiogo\\b/gi, \"Tecnólogo Responsável\");\n  jsonString = jsonString.replace(/\\bengenheiro\\b/gi, \"Tecnólogo Responsável\");\n\n  let parsed = JSON.parse(jsonString);\n\n  // REGRA DE RISCO CRÍTICO\n  if (parsed.risco && parsed.risco.toLowerCase() === 'crítico' && !parsed.aprovacao_diretoria) {\n     parsed.status_aprovacao = \"BLOQUEADO - Necessita Aprovação da Diretoria\";\n     parsed.bloqueio_geracao = true;\n  } else {\n     parsed.status_aprovacao = \"LIBERADO\";\n     parsed.bloqueio_geracao = false;\n  }\n\n  // REGRA DADOS FALTANTES E URGÊNCIA GASTRONÔMICA\n  if (parsed.faltam_dados_criticos === true || !parsed.dados_completos) {\n     parsed.precificacao_recomendada = \"Sob Avaliação Técnica\";\n     parsed.faixa_comercial = \"Sob Avaliação Técnica\";\n  }\n  \n  if (parsed.equipamentos_gastronomia && parsed.equipamentos_gastronomia.length > 0) {\n      parsed.fator_urgencia = 1.5; // Alta urgência\n  }\n\n  // PROTEÇÃO DE CUSTO INTERNO\n  if (parsed.custo_interno !== undefined) delete parsed.custo_interno;\n  if (parsed.lucro_bruto !== undefined) delete parsed.lucro_bruto;\n  if (parsed.margem_interna !== undefined) delete parsed.margem_interna;\n\n  // REGRA DE IMPOSTOS\n  if (parsed.imposto) {\n     parsed.imposto_estimado_percentual = parsed.imposto;\n     delete parsed.imposto;\n  }\n  parsed.nota_fiscal = \"Imposto baseado em imposto_estimado_percentual - pendente de validação contábil\";\n\n  result.push({ json: parsed });\n}\n\nreturn result;"
      },
      "id": "e43b12dc-4a66-4122-bd54-00b12345efgh",
      "name": "Auditoria_KillCritic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.bloqueio_geracao }}",
              "value2": true
            }
          ]
        }
      },
      "id": "78c9a3bf-9d88-4255-ae12-11c56789ijkl",
      "name": "Verifica_Bloqueio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Workflow 176 - KILLCRITIC Precificação\n\nFiltra e bloqueia emissão automática se houver risco crítico sem aprovação. Também higieniza termos proibidos e protege margens internas de serem expostas na proposta.",
        "height": 250,
        "width": 600
      },
      "id": "4b65a2ef-9f99-4c22-b2a1-00123456abcd",
      "name": "Nota_Explicativa",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        100
      ]
    }
  ],
  "connections": {
    "Webhook_Entrada": {
      "main": [
        [
          {
            "node": "Auditoria_KillCritic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auditoria_KillCritic": {
      "main": [
        [
          {
            "node": "Verifica_Bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
  "activeVersionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
  "versionCounter": 15,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-27T23:38:28.159Z",
      "createdAt": "2026-05-27T23:38:28.159Z",
      "role": "workflow:owner",
      "workflowId": "8aYgvQAu4jhROzyy",
      "projectId": "npvXjSqnZp7zDylg",
      "project": {
        "updatedAt": "2026-05-01T21:22:35.619Z",
        "createdAt": "2026-03-21T02:47:43.581Z",
        "id": "npvXjSqnZp7zDylg",
        "name": "Diogo Oliveira <admin@dlsolucoescondominiais.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-29T06:22:47.473Z",
    "createdAt": "2026-05-27T23:38:28.163Z",
    "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
    "workflowId": "8aYgvQAu4jhROzyy",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "killcritic-precificacao",
          "options": {}
        },
        "id": "5aa4c1ef-3a55-4011-ae93-01c51234abcd",
        "name": "Webhook_Entrada",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          250,
          300
        ],
        "webhookId": "killcritic-webhook-176"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  let data = item.json;\n  let jsonString = JSON.stringify(data);\n\n  // REGRAS KILLCRITIC DE TEXTO\n  jsonString = jsonString.replace(/visita\\s*t[ée]cnica/gi, \"Avaliação Técnica\");\n  jsonString = jsonString.replace(/Condfy/gi, \"Fortress\");\n  jsonString = jsonString.replace(/\\bDiogo\\b/gi, \"Tecnólogo Responsável\");\n  jsonString = jsonString.replace(/\\bengenheiro\\b/gi, \"Tecnólogo Responsável\");\n\n  let parsed = JSON.parse(jsonString);\n\n  // REGRA DE RISCO CRÍTICO\n  if (parsed.risco && parsed.risco.toLowerCase() === 'crítico' && !parsed.aprovacao_diretoria) {\n     parsed.status_aprovacao = \"BLOQUEADO - Necessita Aprovação da Diretoria\";\n     parsed.bloqueio_geracao = true;\n  } else {\n     parsed.status_aprovacao = \"LIBERADO\";\n     parsed.bloqueio_geracao = false;\n  }\n\n  // REGRA DADOS FALTANTES E URGÊNCIA GASTRONÔMICA\n  if (parsed.faltam_dados_criticos === true || !parsed.dados_completos) {\n     parsed.precificacao_recomendada = \"Sob Avaliação Técnica\";\n     parsed.faixa_comercial = \"Sob Avaliação Técnica\";\n  }\n  \n  if (parsed.equipamentos_gastronomia && parsed.equipamentos_gastronomia.length > 0) {\n      parsed.fator_urgencia = 1.5; // Alta urgência\n  }\n\n  // PROTEÇÃO DE CUSTO INTERNO\n  if (parsed.custo_interno !== undefined) delete parsed.custo_interno;\n  if (parsed.lucro_bruto !== undefined) delete parsed.lucro_bruto;\n  if (parsed.margem_interna !== undefined) delete parsed.margem_interna;\n\n  // REGRA DE IMPOSTOS\n  if (parsed.imposto) {\n     parsed.imposto_estimado_percentual = parsed.imposto;\n     delete parsed.imposto;\n  }\n  parsed.nota_fiscal = \"Imposto baseado em imposto_estimado_percentual - pendente de validação contábil\";\n\n  result.push({ json: parsed });\n}\n\nreturn result;"
        },
        "id": "e43b12dc-4a66-4122-bd54-00b12345efgh",
        "name": "Auditoria_KillCritic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.bloqueio_geracao }}",
                "value2": true
              }
            ]
          }
        },
        "id": "78c9a3bf-9d88-4255-ae12-11c56789ijkl",
        "name": "Verifica_Bloqueio",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          650,
          300
        ]
      },
      {
        "parameters": {
          "content": "## Workflow 176 - KILLCRITIC Precificação\n\nFiltra e bloqueia emissão automática se houver risco crítico sem aprovação. Também higieniza termos proibidos e protege margens internas de serem expostas na proposta.",
          "height": 250,
          "width": 600
        },
        "id": "4b65a2ef-9f99-4c22-b2a1-00123456abcd",
        "name": "Nota_Explicativa",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          200,
          100
        ]
      }
    ],
    "connections": {
      "Webhook_Entrada": {
        "main": [
          [
            {
              "node": "Auditoria_KillCritic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auditoria_KillCritic": {
        "main": [
          [
            {
              "node": "Verifica_Bloqueio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Diogo Oliveira",
    "name": "Version 4e0b43e6",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-15T03:48:19.881Z",
        "id": 2403,
        "workflowId": "8aYgvQAu4jhROzyy",
        "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
        "event": "deactivated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-06-15T03:48:19.891Z",
        "id": 2404,
        "workflowId": "8aYgvQAu4jhROzyy",
        "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-29T06:22:47.471Z",
        "id": 1916,
        "workflowId": "8aYgvQAu4jhROzyy",
        "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-29T06:22:57.244Z",
        "id": 1917,
        "workflowId": "8aYgvQAu4jhROzyy",
        "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
        "event": "deactivated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-29T06:22:57.254Z",
        "id": 1918,
        "workflowId": "8aYgvQAu4jhROzyy",
        "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-30T05:33:59.707Z",
        "id": 2068,
        "workflowId": "8aYgvQAu4jhROzyy",
        "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
        "event": "deactivated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-30T05:33:59.722Z",
        "id": 2069,
        "workflowId": "8aYgvQAu4jhROzyy",
        "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-30T05:33:59.880Z",
        "id": 2070,
        "workflowId": "8aYgvQAu4jhROzyy",
        "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
        "event": "deactivated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-30T05:33:59.890Z",
        "id": 2071,
        "workflowId": "8aYgvQAu4jhROzyy",
        "versionId": "4e0b43e6-d7e1-4285-a1de-698d57c30ddb",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      }
    ]
  }
}