DL_NEXUS_V3_LOCAL/13_N8N_PRODUCAO_SYNC/l7oOmPyRJVsdz7r0_082_PUBLICADOR_FACEBOOK_META_API.json
{
  "updatedAt": "2026-05-30T05:33:42.373Z",
  "createdAt": "2026-05-25T21:55:29.862Z",
  "id": "l7oOmPyRJVsdz7r0",
  "name": "082_PUBLICADOR_FACEBOOK_META_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node_webhook_trigger",
      "name": "Webhook Trigger - Publicar Facebook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "webhookId": "publicar-facebook-dl-nexus",
      "parameters": {
        "httpMethod": "POST",
        "path": "publicar-facebook-dl-nexus",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      }
    },
    {
      "id": "node_if_approved",
      "name": "IF: approved=true?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition_approved",
              "leftValue": "={{ $json.body.approved }}",
              "rightValue": "={{ $json.body.approved }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node_code_killcritic",
      "name": "Code KILLCRITIC - Verifica\u00e7\u00e3o de Termos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// KILLCRITIC - DL Nexus V3\n// Verifica\u00e7\u00e3o de termos proibidos e valida\u00e7\u00e3o de conte\u00fado\n// ============================================================\n\nconst TERMOS_PROIBIDOS = [\n  // Proibi\u00e7\u00f5es legais / regulat\u00f3rias\n  'garantimos retorno',\n  'lucro garantido',\n  'sem risco',\n  'investimento seguro',\n  'proibido',\n  'ilegal',\n  // Proibi\u00e7\u00f5es de conte\u00fado\n  'whatsapp',\n  'zap',\n  'clique aqui e ganhe',\n  'gr\u00e1tis por tempo limitado',\n  // Sensacionalismo\n  'urgente!!!',\n  'imperd\u00edvel!!!',\n  'milagre',\n  // Dados sens\u00edveis\n  'cpf',\n  'senha',\n  'token',\n  'api_key',\n  'secret'\n];\n\nconst TERMOS_OBRIGATORIOS_CONTEXTO = [\n  'avalia\u00e7\u00e3o t\u00e9cnica',\n  'avaliacao tecnica',\n  'diagn\u00f3stico',\n  'diagn\u00f3stico gratuito',\n  'visita t\u00e9cnica',\n  'visita tecnica',\n  'dl solu\u00e7\u00f5es',\n  'dl solucoes',\n  'condom\u00ednio',\n  'condominio'\n];\n\nconst items = $input.all();\nconst resultados = [];\n\nfor (const item of items) {\n  const body = item.json.body || {};\n  const message = (body.message || '').toLowerCase();\n  const imageUrl = body.image_url || '';\n  const approved = body.approved;\n\n  // Valida\u00e7\u00f5es b\u00e1sicas\n  if (!message || message.trim().length === 0) {\n    resultados.push({\n      json: {\n        ...item.json,\n        killcritic_status: 'BLOQUEADO',\n        killcritic_motivo: 'Mensagem vazia. Campo message \u00e9 obrigat\u00f3rio.',\n        killcritic_aprovado: false\n      }\n    });\n    continue;\n  }\n\n  if (message.length < 10) {\n    resultados.push({\n      json: {\n        ...item.json,\n        killcritic_status: 'BLOQUEADO',\n        killcritic_motivo: 'Mensagem muito curta (m\u00ednimo 10 caracteres).',\n        killcritic_aprovado: false\n      }\n    });\n    continue;\n  }\n\n  if (message.length > 63206) {\n    resultados.push({\n      json: {\n        ...item.json,\n        killcritic_status: 'BLOQUEADO',\n        killcritic_motivo: 'Mensagem excede o limite do Facebook (63.206 caracteres).',\n        killcritic_aprovado: false\n      }\n    });\n    continue;\n  }\n\n  // Verifica\u00e7\u00e3o de termos proibidos\n  const termosEncontrados = TERMOS_PROIBIDOS.filter(termo =>\n    message.includes(termo.toLowerCase())\n  );\n\n  if (termosEncontrados.length > 0) {\n    resultados.push({\n      json: {\n        ...item.json,\n        killcritic_status: 'BLOQUEADO',\n        killcritic_motivo: `Termos proibidos detectados: ${termosEncontrados.join(', ')}`,\n        killcritic_aprovado: false,\n        killcritic_termos_detectados: termosEncontrados\n      }\n    });\n    continue;\n  }\n\n  // Verifica\u00e7\u00e3o de contexto obrigat\u00f3rio (pelo menos 1 termo de contexto)\n  const temContexto = TERMOS_OBRIGATORIOS_CONTEXTO.some(termo =>\n    message.includes(termo.toLowerCase())\n  );\n\n  if (!temContexto) {\n    resultados.push({\n      json: {\n        ...item.json,\n        killcritic_status: 'BLOQUEADO',\n        killcritic_motivo: 'Post n\u00e3o menciona contexto DL / condom\u00ednio / avalia\u00e7\u00e3o t\u00e9cnica. Revisar alinhamento com identidade da marca.',\n        killcritic_aprovado: false\n      }\n    });\n    continue;\n  }\n\n  // Valida\u00e7\u00e3o de URL de imagem (se fornecida)\n  if (imageUrl) {\n    const urlValida = /^https?:\\/\\/.+\\.(jpg|jpeg|png|gif|webp)(\\?.*)?$/i.test(imageUrl);\n    if (!urlValida) {\n      resultados.push({\n        json: {\n          ...item.json,\n          killcritic_status: 'BLOQUEADO',\n          killcritic_motivo: 'image_url fornecida n\u00e3o \u00e9 uma URL de imagem v\u00e1lida (deve terminar em .jpg, .jpeg, .png, .gif ou .webp).',\n          killcritic_aprovado: false\n        }\n      });\n      continue;\n    }\n  }\n\n  // APROVADO\n  resultados.push({\n    json: {\n      ...item.json,\n      killcritic_status: 'APROVADO',\n      killcritic_motivo: 'Conte\u00fado validado com sucesso pelo KILLCRITIC.',\n      killcritic_aprovado: true,\n      killcritic_timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn resultados;"
      }
    },
    {
      "id": "node_if_killcritic",
      "name": "IF: KILLCRITIC Aprovado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        950,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition_killcritic",
              "leftValue": "={{ $json.killcritic_aprovado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node_if_image_url",
      "name": "IF: image_url existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition_image_url",
              "leftValue": "={{ $json.body.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node_http_post_photo",
      "name": "HTTP POST: Facebook /photos (com imagem)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1450,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/100166804716824/photos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "url",
              "value": "={{ $json.body.image_url }}"
            },
            {
              "name": "published",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          },
          "timeout": 30000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        }
      },
      "credentials": {
        "facebookGraphApi": {
          "id": "cred_facebook_graph_api",
          "name": "Aplicativo do Facebook"
        }
      }
    },
    {
      "id": "node_http_post_feed",
      "name": "HTTP POST: Facebook /feed (sem imagem)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1450,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/100166804716824/feed",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          },
          "timeout": 30000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        }
      },
      "credentials": {
        "facebookGraphApi": {
          "id": "cred_facebook_graph_api",
          "name": "Aplicativo do Facebook"
        }
      }
    },
    {
      "id": "node_telegram_confirmacao",
      "name": "Telegram: Confirma\u00e7\u00e3o de Publica\u00e7\u00e3o",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1700,
        200
      ],
      "parameters": {
        "chatId": "CHAT_ID_AQUI",
        "text": "={{ '\u2705 *FACEBOOK PUBLICADO COM SUCESSO*\\n\\n' + '\ud83d\udcc4 *Post ID:* ' + ($json.id || 'N/A') + '\\n' + '\ud83d\udcdd *Mensagem:* ' + ($json.body?.message?.substring(0, 100) || 'N/A') + '...\\n' + '\ud83d\udd50 *Hor\u00e1rio:* ' + new Date().toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo'}) + '\\n' + '\ud83e\udd16 *Workflow:* 082_PUBLICADOR_FACEBOOK_META_API\\n' + '\ud83d\udee1\ufe0f *KILLCRITIC:* ' + ($json.killcritic_status || 'N/A') }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "cred_telegram_api",
          "name": "Conta do Telegram"
        }
      }
    },
    {
      "id": "node_telegram_alerta_bloqueio",
      "name": "Telegram: Alerta de Bloqueio KILLCRITIC",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        500
      ],
      "parameters": {
        "chatId": "CHAT_ID_AQUI",
        "text": "={{ '\ud83d\udeab *PUBLICA\u00c7\u00c3O BLOQUEADA - KILLCRITIC*\\n\\n' + '\u274c *Status:* ' + ($json.killcritic_status || 'N\u00c3O APROVADO') + '\\n' + '\ud83d\udccc *Motivo:* ' + ($json.killcritic_motivo || 'approved=false ou valida\u00e7\u00e3o reprovada') + '\\n' + '\ud83d\udd50 *Hor\u00e1rio:* ' + new Date().toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo'}) + '\\n' + '\ud83e\udd16 *Workflow:* 082_PUBLICADOR_FACEBOOK_META_API\\n' + '\u26a0\ufe0f *A\u00e7\u00e3o necess\u00e1ria:* Revisar o payload e reenviar com approved=true e conte\u00fado validado.' }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "cred_telegram_api",
          "name": "Conta do Telegram"
        }
      }
    },
    {
      "id": "node_webhook_response_success",
      "name": "Webhook Response: Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1950,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', workflow: '082_PUBLICADOR_FACEBOOK_META_API', facebook_post_id: $json.id || null, killcritic_status: $json.killcritic_status, timestamp: new Date().toISOString() }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "node_webhook_response_blocked",
      "name": "Webhook Response: Bloqueado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1450,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'blocked', workflow: '082_PUBLICADOR_FACEBOOK_META_API', killcritic_status: $json.killcritic_status || 'NOT_APPROVED', motivo: $json.killcritic_motivo || 'approved=false', timestamp: new Date().toISOString() }) }}",
        "options": {
          "responseCode": 403
        }
      }
    },
    {
      "id": "node_error_trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        650
      ],
      "parameters": {}
    },
    {
      "id": "node_telegram_erro",
      "name": "Telegram: Alerta de Erro Cr\u00edtico",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        450,
        650
      ],
      "parameters": {
        "chatId": "CHAT_ID_AQUI",
        "text": "={{ '\ud83d\udd34 *ERRO CR\u00cdTICO - 082_PUBLICADOR_FACEBOOK_META_API*\\n\\n' + '\ud83d\udca5 *Erro:* ' + ($json.error?.message || 'Erro desconhecido') + '\\n' + '\ud83d\udccd *N\u00f3:* ' + ($json.execution?.lastNodeExecuted || 'N/A') + '\\n' + '\ud83d\udd17 *Execution ID:* ' + ($json.execution?.id || 'N/A') + '\\n' + '\ud83d\udd50 *Hor\u00e1rio:* ' + new Date().toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo'}) + '\\n' + '\u26a0\ufe0f *Verificar:* Credenciais Meta API / payload enviado.' }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "cred_telegram_api",
          "name": "Conta do Telegram"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger - Publicar Facebook": {
      "main": [
        [
          {
            "node": "IF: approved=true?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: approved=true?": {
      "main": [
        [
          {
            "node": "Code KILLCRITIC - Verifica\u00e7\u00e3o de Termos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Alerta de Bloqueio KILLCRITIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code KILLCRITIC - Verifica\u00e7\u00e3o de Termos": {
      "main": [
        [
          {
            "node": "IF: KILLCRITIC Aprovado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: KILLCRITIC Aprovado?": {
      "main": [
        [
          {
            "node": "IF: image_url existe?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Alerta de Bloqueio KILLCRITIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: image_url existe?": {
      "main": [
        [
          {
            "node": "HTTP POST: Facebook /photos (com imagem)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP POST: Facebook /feed (sem imagem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP POST: Facebook /photos (com imagem)": {
      "main": [
        [
          {
            "node": "Telegram: Confirma\u00e7\u00e3o de Publica\u00e7\u00e3o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP POST: Facebook /feed (sem imagem)": {
      "main": [
        [
          {
            "node": "Telegram: Confirma\u00e7\u00e3o de Publica\u00e7\u00e3o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Confirma\u00e7\u00e3o de Publica\u00e7\u00e3o": {
      "main": [
        [
          {
            "node": "Webhook Response: Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Alerta de Bloqueio KILLCRITIC": {
      "main": [
        [
          {
            "node": "Webhook Response: Bloqueado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Telegram: Alerta de Erro Cr\u00edtico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 300,
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "14c382c9-afe0-4f18-a106-78240e858ff3",
  "activeVersionId": null,
  "versionCounter": 156,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-25T21:55:29.862Z",
      "createdAt": "2026-05-25T21:55:29.862Z",
      "role": "workflow:owner",
      "workflowId": "l7oOmPyRJVsdz7r0",
      "projectId": "npvXjSqnZp7zDylg",
      "project": {
        "updatedAt": "2026-05-01T21:22:35.619Z",
        "createdAt": "2026-03-21T02:47:43.581Z",
        "id": "npvXjSqnZp7zDylg",
        "name": "Diogo Oliveira <admin@dlsolucoescondominiais.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}