DL_NEXUS_V3_LOCAL/13_N8N_PRODUCAO_SYNC/SCxiYa4fGqsKHkVZ_185_MOTOR_IA3_REDATORA.json
{
  "updatedAt": "2026-05-31T16:30:33.576Z",
  "createdAt": "2026-05-31T01:33:14.301Z",
  "id": "SCxiYa4fGqsKHkVZ",
  "name": "185_MOTOR_IA3_REDATORA",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.DEEPSEEK_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é a IA Redatora da DL Soluções Condominiais. Usando o caso 'Sra. Carla' como referência estrutural, gere 2 textos em Markdown: 1) Proposta Cliente (defensável, limpa, sem nomes de fornecedores/hardware), e 2) Proposta Interna (com detalhes de hardware e custos para a equipe técnica). Adicione a identidade visual da DL (ex: ![Logo DL](/assets/logo-dl-solucoes.png)). Retorne um JSON ESTRITO com: { \\\"proposta_cliente\\\": \\\"...\\\", \\\"proposta_interna\\\": \\\"...\\\", \\\"resumo_whatsapp\\\": \\\"...\\\" }.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"DADOS TOTAIS:\\n\" + JSON.stringify($json)\n    }\n  ]\n}",
        "options": {}
      },
      "id": "deepseek_redatora",
      "name": "DeepSeek: IA Redatora",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.DEEPSEEK_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é o Agente Conferente de Sigilo da DL. Analise a 'proposta_cliente'. Se houver QUALQUER menção a nomes de fornecedores (Intelbras, Garen, HDL, etc) ou referências de hardware específicas que o cliente possa usar para 'fazer sozinho', REMOVA-AS ou substitua por 'Equipamento DL Homologado'. Retorne o JSON final corrigido: { \\\"proposta_cliente\\\": \\\"...\\\", \\\"proposta_interna\\\": \\\"...\\\", \\\"resumo_whatsapp\\\": \\\"...\\\" }.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"JSON DA REDATORA:\\n\" + $json.choices[0].message.content\n    }\n  ]\n}",
        "options": {}
      },
      "id": "deepseek_qa_sigilo",
      "name": "DeepSeek: Conferente Sigilo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.choices[0].message.content;\nlet parsed = {};\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  parsed = { erro: \"Falha ao parsear JSON Redatora do DeepSeek\" };\n}\n\nconst input = $('Execute Workflow Trigger').item.json;\ninput.documentos_finais = parsed;\n\nreturn { json: input };"
      },
      "id": "merge_ia3",
      "name": "Merge IA 3 Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "DeepSeek: IA Redatora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek: IA Redatora": {
      "main": [
        [
          {
            "node": "DeepSeek: Conferente Sigilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek: Conferente Sigilo": {
      "main": [
        [
          {
            "node": "Merge IA 3 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
  "activeVersionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
  "versionCounter": 17,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-31T01:33:14.301Z",
      "createdAt": "2026-05-31T01:33:14.301Z",
      "role": "workflow:owner",
      "workflowId": "SCxiYa4fGqsKHkVZ",
      "projectId": "npvXjSqnZp7zDylg",
      "project": {
        "updatedAt": "2026-05-01T21:22:35.619Z",
        "createdAt": "2026-03-21T02:47:43.581Z",
        "id": "npvXjSqnZp7zDylg",
        "name": "Diogo Oliveira <admin@dlsolucoescondominiais.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-31T01:33:14.305Z",
    "createdAt": "2026-05-31T01:33:14.305Z",
    "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
    "workflowId": "SCxiYa4fGqsKHkVZ",
    "nodes": [
      {
        "parameters": {},
        "id": "trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.deepseek.com/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{$env.DEEPSEEK_API_KEY}}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é a IA Redatora da DL Soluções Condominiais. Usando o caso 'Sra. Carla' como referência estrutural, gere 2 textos em Markdown: 1) Proposta Cliente (defensável, limpa, sem nomes de fornecedores/hardware), e 2) Proposta Interna (com detalhes de hardware e custos para a equipe técnica). Adicione a identidade visual da DL (ex: ![Logo DL](/assets/logo-dl-solucoes.png)). Retorne um JSON ESTRITO com: { \\\"proposta_cliente\\\": \\\"...\\\", \\\"proposta_interna\\\": \\\"...\\\", \\\"resumo_whatsapp\\\": \\\"...\\\" }.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"DADOS TOTAIS:\\n\" + JSON.stringify($json)\n    }\n  ]\n}",
          "options": {}
        },
        "id": "deepseek_redatora",
        "name": "DeepSeek: IA Redatora",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          200,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.deepseek.com/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{$env.DEEPSEEK_API_KEY}}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é o Agente Conferente de Sigilo da DL. Analise a 'proposta_cliente'. Se houver QUALQUER menção a nomes de fornecedores (Intelbras, Garen, HDL, etc) ou referências de hardware específicas que o cliente possa usar para 'fazer sozinho', REMOVA-AS ou substitua por 'Equipamento DL Homologado'. Retorne o JSON final corrigido: { \\\"proposta_cliente\\\": \\\"...\\\", \\\"proposta_interna\\\": \\\"...\\\", \\\"resumo_whatsapp\\\": \\\"...\\\" }.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"JSON DA REDATORA:\\n\" + $json.choices[0].message.content\n    }\n  ]\n}",
          "options": {}
        },
        "id": "deepseek_qa_sigilo",
        "name": "DeepSeek: Conferente Sigilo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          400,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "let raw = $json.choices[0].message.content;\nlet parsed = {};\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  parsed = { erro: \"Falha ao parsear JSON Redatora do DeepSeek\" };\n}\n\nconst input = $('Execute Workflow Trigger').item.json;\ninput.documentos_finais = parsed;\n\nreturn { json: input };"
        },
        "id": "merge_ia3",
        "name": "Merge IA 3 Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          0
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "DeepSeek: IA Redatora",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek: IA Redatora": {
        "main": [
          [
            {
              "node": "DeepSeek: Conferente Sigilo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek: Conferente Sigilo": {
        "main": [
          [
            {
              "node": "Merge IA 3 Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Diogo Oliveira",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-31T01:33:21.305Z",
        "id": 2094,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-31T15:55:34.192Z",
        "id": 2101,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "deactivated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-31T15:55:34.200Z",
        "id": 2102,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-31T15:55:46.967Z",
        "id": 2109,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "deactivated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-31T15:55:46.974Z",
        "id": 2110,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-31T16:30:45.110Z",
        "id": 2128,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "deactivated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-31T16:30:45.118Z",
        "id": 2129,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-31T16:30:33.601Z",
        "id": 2118,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "deactivated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-05-31T16:30:33.615Z",
        "id": 2119,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-06-15T03:48:28.463Z",
        "id": 2459,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "deactivated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      },
      {
        "createdAt": "2026-06-15T03:48:28.469Z",
        "id": 2460,
        "workflowId": "SCxiYa4fGqsKHkVZ",
        "versionId": "40ff8588-83d9-4e7a-9ac4-fd51de030c42",
        "event": "activated",
        "userId": "077f62aa-c5dd-431c-a397-3eb08745d539"
      }
    ]
  }
}