backend/n8n/workflows/002_roteador_aninha.json
{
  "name": "002_roteador_aninha_v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dl-aninha",
        "options": {}
      },
      "id": "wh-aninha",
      "name": "Entrada Aninha",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "column": "telefone",
              "value": "={{ $json.body.telefone || $json.body.sender_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-get",
      "name": "Ler Persona Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [320, 400],
      "credentials": {
        "supabaseApi": {
          "id": "QzziIRhKJMDNAE1m"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[0]?.persona || '' }}",
        "rules": {
          "rules": [
            { "value2": "sindico", "outputKey": "sindico" },
            { "value2": "admin_condominio", "outputKey": "admin_cond" },
            { "value2": "admin_escola", "outputKey": "admin_escola" }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "switch-persona",
      "name": "Switch Persona",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [560, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": { "temperature": 0.3 }
      },
      "id": "llm-master",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [850, 1050]
    },
    {
      "parameters": {
        "sessionId": "={{ $('Entrada Aninha').item.json.body.telefone || $('Entrada Aninha').item.json.body.sender_id || 'lead_anonimo' }}"
      },
      "id": "memory-master",
      "name": "Memória Buffer",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [1020, 1050]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Entrada Aninha').item.json.body.mensagem_original || $('Entrada Aninha').item.json.body.mensagem || '' }}",
        "options": {
          "systemMessage": "Você é a ANINHA da DL Soluções Condominiais. Este lead ainda não tem perfil identificado.\n\nSua tarefa: Fazer perguntas curtas e amigáveis para descobrir se o contato é:\n1) Síndico de Condomínio\n2) Administrador de Condomínios (Imobiliária / Administradora)\n3) Administrador de Escola ou Colégio\n\nBoas práticas:\n- Seja calorosa mas objetiva\n- Máximo 2 perguntas por mensagem\n- Nunca mencione preços\n- Se a pessoa já indicou o tipo, não pergunte de novo\n\nQuando descobrir a persona, adicione UMA das seguintes tags no FINAL da sua resposta:\n[PERSONA_SINDICO]\n[PERSONA_ADMIN_COND]\n[PERSONA_ESCOLA]"
        }
      },
      "id": "ag-classificador",
      "name": "Agent Classificador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [850, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Entrada Aninha').item.json.body.mensagem_original || $('Entrada Aninha').item.json.body.mensagem || '' }}",
        "options": {
          "systemMessage": "Você é a ANINHA, Consultora de Conformidade Técnica da DL Soluções Condominiais.\nVocê não é uma atendente; trate o lead (que é um SÍNDICO) como um gestor de riscos.\n\nDIRETRIZES DE COMUNICAÇÃO:\n- Foque em: Segurança Jurídica, Continuidade Operacional e Evitar Atritos com Moradores.\n- PROIBIDO usar a palavra 'Visita'. Substitua por 'Avaliação Técnica de Diagnóstico'. Explique que não damos 'orçamentinho', mas realizamos um procedimento de engenharia que gera um Relatório de Conformidade (o escudo do síndico perante a assembleia e a seguradora).\n\nGATILHO DA DOR JURÍDICA (INSERIR NA TRIAGEM):\nInsira sutilmente: 'Muitos condomínios no Rio operam hoje com um risco invisível. Sem um laudo de conformidade atualizado, o Síndico assume sozinho a Responsabilidade Civil e Criminal em caso de sinistros elétricos.'\nE sempre pergunte: 'O condomínio possui o laudo de inspeção elétrica e a ART (Anotação de Responsabilidade Técnica) atualizados nos últimos 12 meses?'\n\nTRANSIÇÃO PARA ENGENHARIA:\nApós qualificar a dor jurídica e o lead quiser avançar, você DEVE dizer:\n'Vou passar os seus dados para o nosso Agente de Engenharia (Jules), que coletará os dados técnicos brutos para que o nosso Diretor, Diogo Luiz, prepare o seu Diagnóstico.'\nE então, adicione a tag [ENCAMINHAR_JULES] no FINAL da sua resposta."
        }
      },
      "id": "ag-sindico",
      "name": "Agent Síndico",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [850, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Entrada Aninha').item.json.body.mensagem_original || $('Entrada Aninha').item.json.body.mensagem || '' }}",
        "options": {
          "systemMessage": "Você é a ANINHA, Consultora de Conformidade Técnica da DL Soluções Condominiais.\nVocê não é uma atendente; trate o lead (que trabalha em uma ADMINISTRADORA DE CONDOMÍNIOS como APSA/Lello) como um gestor de riscos.\n\nDIRETRIZES DE COMUNICAÇÃO:\n- Foque em: Redução de Passivo, SLA de Atendimento e Conformidade com a Norma NBR 5410.\n- PROIBIDO usar a palavra 'Visita'. Substitua por 'Avaliação Técnica de Diagnóstico'. Explique que não damos 'orçamentinho', mas realizamos um procedimento de engenharia que gera um Relatório de Conformidade (o escudo da administradora perante a assembleia e a seguradora).\n\nGATILHO DA DOR JURÍDICA (INSERIR NA TRIAGEM):\nInsira sutilmente: 'Muitos condomínios no Rio operam hoje com um risco invisível. Sem um laudo de conformidade atualizado, a gestão assume a Responsabilidade Civil e Criminal em caso de sinistros elétricos.'\nE sempre pergunte: 'O condomínio possui o laudo de inspeção elétrica e a ART (Anotação de Responsabilidade Técnica) atualizados nos últimos 12 meses?'\n\nTRANSIÇÃO PARA ENGENHARIA:\nApós qualificar a dor jurídica e o lead quiser avançar, você DEVE dizer:\n'Vou passar os seus dados para o nosso Agente de Engenharia (Jules), que coletará os dados técnicos brutos para que o nosso Diretor, Diogo Luiz, prepare o seu Diagnóstico.'\nE então, adicione a tag [ENCAMINHAR_JULES] no FINAL da sua resposta."
        }
      },
      "id": "ag-admin-cond",
      "name": "Agent Admin Cond",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [850, 600]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Entrada Aninha').item.json.body.mensagem_original || $('Entrada Aninha').item.json.body.mensagem || '' }}",
        "options": {
          "systemMessage": "Você é a ANINHA, Consultora de Conformidade Técnica da DL Soluções Condominiais.\nVocê não é uma atendente; trate o lead (que é um ADMINISTRADOR DE ESCOLA) como um gestor de riscos.\n\nDIRETRIZES DE COMUNICAÇÃO:\n- Foque em: Segurança dos Alunos e Continuidade do Período Letivo.\n- PROIBIDO usar a palavra 'Visita'. Substitua por 'Avaliação Técnica de Diagnóstico'. Explique que não damos 'orçamentinho', mas realizamos um procedimento de engenharia que gera um Relatório de Conformidade (o escudo da gestão escolar perante a diretoria e a seguradora).\n\nGATILHO DA DOR JURÍDICA (INSERIR NA TRIAGEM):\nInsira sutilmente: 'Muitas instituições no Rio operam hoje com um risco invisível. Sem um laudo de conformidade atualizado, a gestão assume a Responsabilidade Civil e Criminal em caso de sinistros elétricos.'\nE sempre pergunte: 'A instituição possui o laudo de inspeção elétrica e a ART (Anotação de Responsabilidade Técnica) atualizados nos últimos 12 meses?'\n\nTRANSIÇÃO PARA ENGENHARIA:\nApós qualificar a dor jurídica e o lead quiser avançar, você DEVE dizer:\n'Vou passar os seus dados para o nosso Agente de Engenharia (Jules), que coletará os dados técnicos brutos para que o nosso Diretor, Diogo Luiz, prepare o seu Diagnóstico.'\nE então, adicione a tag [ENCAMINHAR_JULES] no FINAL da sua resposta."
        }
      },
      "id": "ag-escola",
      "name": "Agent Escola",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [850, 800]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "operation": "contains",
              "value2": "[ENCAMINHAR_JULES]"
            }
          ]
        }
      },
      "id": "if-jules",
      "name": "Encaminhar para Engenharia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1150, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dlsolucoescondominiais.com.br/webhook/dl-especialistas",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "={{ $('Entrada Aninha').item.json.body.telefone || $('Entrada Aninha').item.json.body.sender_id }}"
            },
            {
              "name": "historico_dor",
              "value": "={{ $json.output }}"
            },
            {
              "name": "persona",
              "value": "={{ $('Ler Persona Supabase').item.json[0]?.persona || 'indefinido' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "push-004",
      "name": "Chamar 004 Jules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1400, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "operation": "contains",
              "value2": "[PERSONA_SINDICO]"
            }
          ]
        }
      },
      "id": "if-ps",
      "name": "Detectou Sindico?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1150, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "operation": "contains",
              "value2": "[PERSONA_ADMIN_COND]"
            }
          ]
        }
      },
      "id": "if-pa",
      "name": "Detectou Admin Cond?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1150, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "operation": "contains",
              "value2": "[PERSONA_ESCOLA]"
            }
          ]
        }
      },
      "id": "if-pe",
      "name": "Detectou Escola?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "column": "telefone",
              "value": "={{ $('Entrada Aninha').item.json.body.telefone || $('Entrada Aninha').item.json.body.sender_id }}"
            }
          ]
        },
        "updateValues": {
          "values": [
            { "column": "persona", "value": "sindico" },
            { "column": "status", "value": "triado" }
          ]
        }
      },
      "id": "supa-sindico",
      "name": "Salvar Persona Sindico",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 50],
      "credentials": { "supabaseApi": { "id": "QzziIRhKJMDNAE1m" } }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "column": "telefone",
              "value": "={{ $('Entrada Aninha').item.json.body.telefone || $('Entrada Aninha').item.json.body.sender_id }}"
            }
          ]
        },
        "updateValues": {
          "values": [
            { "column": "persona", "value": "admin_condominio" },
            { "column": "status", "value": "triado" }
          ]
        }
      },
      "id": "supa-admin",
      "name": "Salvar Persona Admin",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 200],
      "credentials": { "supabaseApi": { "id": "QzziIRhKJMDNAE1m" } }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "column": "telefone",
              "value": "={{ $('Entrada Aninha').item.json.body.telefone || $('Entrada Aninha').item.json.body.sender_id }}"
            }
          ]
        },
        "updateValues": {
          "values": [
            { "column": "persona", "value": "admin_escola" },
            { "column": "status", "value": "triado" }
          ]
        }
      },
      "id": "supa-escola",
      "name": "Salvar Persona Escola",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 300],
      "credentials": { "supabaseApi": { "id": "QzziIRhKJMDNAE1m" } }
    }
  ],
  "connections": {
    "Entrada Aninha": {
      "main": [
        [{ "node": "Ler Persona Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Ler Persona Supabase": {
      "main": [
        [{ "node": "Switch Persona", "type": "main", "index": 0 }]
      ]
    },
    "Switch Persona": {
      "main": [
        [{ "node": "Agent Síndico", "type": "main", "index": 0 }],
        [{ "node": "Agent Admin Cond", "type": "main", "index": 0 }],
        [{ "node": "Agent Escola", "type": "main", "index": 0 }],
        [{ "node": "Agent Classificador", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [{ "node": "Agent Classificador", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Agent Síndico", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Agent Admin Cond", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Agent Escola", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Memória Buffer": {
      "ai_memory": [
        [{ "node": "Agent Classificador", "type": "ai_memory", "index": 0 }],
        [{ "node": "Agent Síndico", "type": "ai_memory", "index": 0 }],
        [{ "node": "Agent Admin Cond", "type": "ai_memory", "index": 0 }],
        [{ "node": "Agent Escola", "type": "ai_memory", "index": 0 }]
      ]
    },
    "Agent Classificador": {
      "main": [
        [
          { "node": "Detectou Sindico?", "type": "main", "index": 0 },
          { "node": "Detectou Admin Cond?", "type": "main", "index": 0 },
          { "node": "Detectou Escola?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Detectou Sindico?": {
      "main": [
        [{ "node": "Salvar Persona Sindico", "type": "main", "index": 0 }],
        []
      ]
    },
    "Detectou Admin Cond?": {
      "main": [
        [{ "node": "Salvar Persona Admin", "type": "main", "index": 0 }],
        []
      ]
    },
    "Detectou Escola?": {
      "main": [
        [{ "node": "Salvar Persona Escola", "type": "main", "index": 0 }],
        []
      ]
    },
    "Agent Síndico": {
      "main": [
        [{ "node": "Encaminhar para Engenharia?", "type": "main", "index": 0 }]
      ]
    },
    "Agent Admin Cond": {
      "main": [
        [{ "node": "Encaminhar para Engenharia?", "type": "main", "index": 0 }]
      ]
    },
    "Agent Escola": {
      "main": [
        [{ "node": "Encaminhar para Engenharia?", "type": "main", "index": 0 }]
      ]
    },
    "Encaminhar para Engenharia?": {
      "main": [
        [{ "node": "Chamar 004 Jules", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}