backend/n8n/workflows/corrections/013_prospeccao_manus_corrigido.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "35 0 * * *"
            }
          ]
        }
      },
      "id": "cfcfa837-6653-46b0-bc5f-b46d496e2188",
      "name": "Schedule Trigger (00:35)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const date = new Date().toLocaleDateString('pt-BR');\nreturn {\n  json: {\n    prompt: `Você é Manus AI, o Diretor de Marketing B2B da DL Soluções Condominiais.\\nHoje é dia ${date}. Vasculhe e pense em condomínios pequenos/médios, colégios e restaurantes na zona e região do Rio de Janeiro.\\nSua missão: Gerar a estratégia do dia de postagem para o Agente MarkSolar (Copywriter).\\nA estratégia DEVE focar em um ou mais de nossos produtos chave: DL Fortress, DL Guardião e DL Acqua.\\n\\nVocê DEVE retornar sua saída estritamente em um JSON válido com a seguinte estrutura:\\n{\\n  \"estrategia_texto\": \"Descreva o gancho, a dor do público e o tom que o MarkSolar deve usar no post.\",\\n  \"produto\": \"Nome do produto foco\",\\n  \"publico_alvo\": \"Ex: Síndicos de pequenos condomínios\",\\n  \"bairro\": \"Ex: Zona Sul, Barra ou Tijuca\",\\n  \"canal_destino\": \"Instagram, Facebook e TikTok\",\\n  \"objetivo\": \"Agendar Avaliação Técnica\"\\n}`\n  }\n};\n"
      },
      "id": "9b0a5de2-d074-460f-97fa-1b94f814525e",
      "name": "Preparar Prompt Diário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manus.ai/v2/task.create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-manus-api-key",
              "value": "sk-ipp_CVwftXakIuh3foL7fbC6ZwU4qXseOHAOkj8i4iveHkiEscO1sTPe5jnWAO8oYGKYm7m4QvH4r4AHJiWT9a2xrRhA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.content",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "structured_output_schema",
              "value": "={ \"type\": \"object\", \"properties\": { \"estrategia_texto\": { \"type\": \"string\" }, \"produto\": { \"type\": \"string\" }, \"publico_alvo\": { \"type\": \"string\" }, \"bairro\": { \"type\": \"string\" }, \"canal_destino\": { \"type\": \"string\" }, \"objetivo\": { \"type\": \"string\" } }, \"required\": [\"estrategia_texto\", \"produto\", \"publico_alvo\", \"bairro\", \"canal_destino\", \"objetivo\"], \"additionalProperties\": false }"
            }
          ]
        },
        "options": {}
      },
      "id": "e5813e78-fa8b-46f0-ae01-278dbd1e231b",
      "name": "HTTP Request Manus API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        352,
        288
      ]
    },
    {
      "parameters": {
        "url": "=https://api.manus.ai/v2/task.listMessages?task_id={{ $json.task_id }}&order=desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-manus-api-key",
              "value": "sk-ipp_CVwftXakIuh3foL7fbC6ZwU4qXseOHAOkj8i4iveHkiEscO1sTPe5jnWAO8oYGKYm7m4QvH4r4AHJiWT9a2xrRhA"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "wait-for-manus",
      "name": "Wait for Manus Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        528,
        288
      ],
      "retryOnFail": true,
      "maxRetries": 10,
      "waitBetweenRetries": 30000
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all()[0].json.data || [];\nconst resultEvent = events.find(e => e.type === 'structured_output_result');\n\nif (resultEvent && resultEvent.structured_output_result.success) {\n  return { json: resultEvent.structured_output_result.value };\n}\n\n// Fallback ou erro\nthrow new Error('Resultado estruturado do Manus ainda não disponível ou falhou.');"
      },
      "id": "ab2b8419-1669-4265-a3ab-7f88aba040dc",
      "name": "Limpar JSON do Manus",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        288
      ]
    },
    {
      "parameters": {
        "workflowId": "publicadorSocialDlNexusV320260518",
        "mode": "wait",
        "options": {}
      },
      "id": "8a6f2623-fd7d-4b8c-a6e0-f5d3ff17639e",
      "name": "Chamar MarkSolar (020)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        928,
        176
      ]
    },
    {
      "parameters": {
        "chatId": "-1002012015091",
        "text": "🎯 *DIRETRIZ B2B DO MANUS GERADA E ENVIADA AO MARKSOLAR*\\n\\n*Público:* {{ $json.publico_alvo }}\\n*Produto:* {{ $json.produto }}\\n*Região:* {{ $json.bairro }}\\n\\n*Estratégia:* {{ $json.estrategia_texto }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "bf2f2d92-786b-40b0-8b52-5d008c9d157a",
      "name": "Telegram Entrega",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        928,
        384
      ],
      "webhookId": "51319472-ca2c-466b-85b7-b9027453f9d4",
      "credentials": {
        "telegramApi": {
          "id": "j1fpzPAZUa1A0i6r",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (00:35)": {
      "main": [
        [
          {
            "node": "Preparar Prompt Diário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Diário": {
      "main": [
        [
          {
            "node": "HTTP Request Manus API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Manus API": {
      "main": [
        [
          {
            "node": "Wait for Manus Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Manus Result": {
      "main": [
        [
          {
            "node": "Limpar JSON do Manus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar JSON do Manus": {
      "main": [
        [
          {
            "node": "Chamar MarkSolar (020)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Entrega",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "824b30e9dd5b4de2e0751d58c32084e6728f4773ae8ea4ca84318c5bc6ba2207"
  }
}
