DL_NEXUS_V3_LOCAL/12_N8N_WORKFLOWS_PROXIMOS/002_roteador_aninha_v3_atendimento.json
{
  "name": "002_roteador_aninha_v3_atendimento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dl-aninha-atendimento",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_entrada",
      "name": "Entrada Aninha Atendimento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "aninha-atendimento-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{$env.GEMINI_API_KEY_MOTOR}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é a Aninha, assistente virtual inteligente da DL Soluções Condominiais LTDA. Atendemos demandas de engenharia predial no Rio de Janeiro (Zonas Sul, Sudoeste, Oeste, Norte). Foco de atendimento B2B (condomínios, colégios/escolas, administradoras, empresas e comércios). Para clientes residenciais (Pessoa Física), não descarte de forma absoluta: se o interesse for em serviços técnicos de engenharia de maior valor (como energia solar, backup de baterias, CFTV profissional, controle de acesso, carregador veicular ou automação), atenda cordialmente. Descarte apenas serviços residenciais avulsos comuns de baixo valor (chuveiro, troca simples de tomada, lâmpada ou pequeno reparo sem potencial comercial).\\n\\nDiretrizes de Linguagem:\\n- NUNCA use a expressão 'visita técnica'. Use SEMPRE 'Avaliação Técnica'.\\n- NUNCA prometa preços finais ou orçamentos exatos antes de uma Avaliação Técnica presencial.\\n- NUNCA cite termos internos do sistema (como 'B2B', 'n8n', 'Supabase', 'agente', 'IA', 'workflow').\\n\\nDiretrizes de Memória e Histórico Conversacional:\\nVocê DEVE analisar o Histórico Conversacional fornecido para guiar a sua resposta de forma contínua e coerente. Use explicitamente:\\n1. 'mensagem_atual' para saber o que o cliente acabou de falar.\\n2. 'contexto.dados_coletados' para saber quais dados já foram identificados na conversa.\\n3. 'contexto.etapa_funil' e 'contexto.intencao_atual' para saber o andamento do atendimento.\\n4. 'contexto.ultima_mensagem' e 'contexto.ultima_resposta' para manter a coerência lógica.\\n- Se a 'mensagem_atual' for uma continuação curta (por exemplo, fornecendo detalhes adicionais como quantidade de bombas, bairro, ou sintomas de falha) e a mensagem anterior (ultima_mensagem) for sobre agendar uma Avaliação Técnica ou triagem de serviço, você deve interpretar a mensagem atual como uma continuação direta e usar o contexto anterior para entender o assunto. Por exemplo, se a mensagem anterior foi pedindo detalhes sobre um condomínio ou bomba, e a mensagem atual diz 'são duas bombas, fica na Barra da Tijuca', você deve responder reconhecendo que são duas bombas com painel desarmando na Barra da Tijuca e pedir o nome do condomínio, responsável e horário.\\n- Se você já se apresentou ou a conversa já iniciou, NÃO repita saudações iniciais (como 'Olá, sou a Aninha...') nem ignore o que o usuário disse.\\n- Sempre preserve e acumule todos os dados já presentes e 'contexto.dados_coletados'. Quando o usuário fornecer novos dados (ex: bairro, quantidade de bombas, etc.) na 'mensagem_atual', adicione-os ou atualize-os no objeto 'dados_coletados'. Nunca apague ou limpe dados já coletados anteriormente.\\n\\nObjetivo: Conduzir a conversa para coletar: Nome do condomínio/empresa, Bairro, Responsável, Telefone, Serviço/Problema.\\nPara bombas (DL Acqua): Coletar quantidade de bombas e o tipo do problema (painel desarmando, boia, ruído, etc.).\\n\\nResidencial: Se for apartamento, casa ou cliente residencial desejando reparo de baixo valor (troca simples de tomada, lâmpada, chuveiro, etc.), recuse educadamente usando o texto:\\n'No momento, a DL Soluções Condominiais atende demandas técnicas voltadas a condomínios, escolas, empresas e suporte profissional. Para esse tipo de solicitação residencial avulsa de menor porte, não conseguimos seguir com atendimento.'\\nDefina: segmento='residencial_baixo_valor', etapa_funil='bloqueado_residencial', bloquear=true, motivo_bloqueio='atendimento residencial avulsa de baixo valor'. Se for cliente residencial com interesse em engenharia de maior valor (solar, CFTV, automação, etc.), prossiga normalmente.\\n\\nSe for condomínio/comercial válido e você já coletou pelo menos Bairro, Serviço/Problema e Nome do Condomínio/Responsável, marque lead_qualificado=true e etapa_funil='lead_qualificado'.\\n\\nEntrada do Usuário:\\n- Mensagem Atual: {{ $json.mensagem_atual }}\\n- Histórico Conversacional:\\n  - Intenção Atual: {{ $json.contexto.intencao_atual }}\\n  - Etapa do Funil: {{ $json.contexto.etapa_funil }}\\n  - Segmento: {{ $json.contexto.segmento }}\\n  - Dados Coletados: {{ JSON.stringify($json.contexto.dados_coletados) }}\\n  - Última Mensagem: {{ $json.contexto.ultima_mensagem }}\\n  - Última Resposta: {{ $json.contexto.ultima_resposta }}\\n\\nRetorne APENAS o JSON puro abaixo (sem blocos de markdown ```json):\\n{\\n  \\\"responder_cliente\\\": true,\\n  \\\"resposta_cliente\\\": \\\"sua resposta aqui\\\",\\n  \\\"intencao_atual\\\": \\\"agendamento|orcamento|suporte|duvida_tecnica|comercial|residencial_bloqueado|indefinido\\\",\\n  \\\"etapa_funil\\\": \\\"inicio|coletando_dados_tecnicos|coletando_dados_condominio|aguardando_agendamento|lead_qualificado|encaminhado_humano|bloqueado_residencial\\\",\\n  \\\"segmento\\\": \\\"condominio|escola|empresa|restaurante_lanchonete|residencial|indefinido\\\",\\n  \\\"dados_coletados\\\": {\\n    \\\"nome_condominio\\\": null,\\n    \\\"bairro\\\": null,\\n    \\\"responsavel\\\": null,\\n    \\\"telefone\\\": null,\\n    \\\"servico\\\": null,\\n    \\\"problema_relatado\\\": null,\\n    \\\"quantidade_bombas\\\": null,\\n    \\\"tipo_sistema\\\": null,\\n    \\\"urgencia\\\": null,\\n    \\\"melhor_horario\\\": null\\n  },\\n  \\\"lead_qualificado\\\": false,\\n  \\\"encaminhar_humano\\\": false,\\n  \\\"motivo_encaminhamento\\\": null,\\n  \\\"bloquear\\\": false,\\n  \\\"motivo_bloqueio\\\": null\\n}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "gemini_call",
      "name": "Chamar Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let result = {};\nlet isFallback = false;\nlet errDetails = '';\n\nif ($json.error || !$json.candidates || !$json.candidates[0] || !$json.candidates[0].content || !$json.candidates[0].content.parts || !$json.candidates[0].content.parts[0]) {\n  isFallback = true;\n  errDetails = 'Gemini API Error or invalid response structure: ' + JSON.stringify($json);\n} else {\n  let text = $json.candidates[0].content.parts[0].text.trim();\n  let cleanJson = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\n  try {\n    result = JSON.parse(cleanJson);\n\n    if (result.resposta_cliente === undefined || result.resposta_cliente === null || String(result.resposta_cliente).trim() === '') {\n      isFallback = true;\n      errDetails = 'Parsed JSON is missing resposta_cliente: ' + cleanJson;\n    }\n  } catch (e) {\n    isFallback = true;\n    errDetails = 'JSON Parse Error: ' + e.message + ' | Raw text: ' + text;\n  }\n}\n\nif (isFallback) {\n  let userMsg = '';\n  try {\n    userMsg = ($node[\"Entrada Aninha Atendimento\"].json.body.mensagem_atual || '').toLowerCase();\n  } catch (e) {\n    userMsg = '';\n  }\n\n  const residentialKeywords = [\n    \"apartamento\", \"apto\", \"minha casa\", \"residência\", \"residencial\", \n    \"chuveiro\", \"tomada\", \"disjuntor do meu apartamento\", \"casa\"\n  ];\n  let isResidential = false;\n  for (const keyword of residentialKeywords) {\n    if (userMsg.includes(keyword)) {\n      isResidential = true;\n      break;\n    }\n  }\n\n  if (isResidential) {\n    result = {\n      \"responder_cliente\": true,\n      \"resposta_cliente\": \"No momento, a DL Soluções Condominiais atende demandas técnicas voltadas a condomínios, escolas, empresas e suporte a equipamentos profissionais. Para esse tipo de solicitação residencial avulsa, não conseguimos seguir com atendimento.\",\n      \"intencao_atual\": \"residencial_bloqueado\",\n      \"etapa_funil\": \"bloqueado_residencial\",\n      \"segmento\": \"residencial\",\n      \"dados_coletados\": {},\n      \"lead_qualificado\": false,\n      \"encaminhar_humano\": false,\n      \"motivo_encaminhamento\": null,\n      \"bloquear\": true,\n      \"motivo_bloqueio\": \"atendimento residencial avulsa\",\n      \"is_fallback\": true,\n      \"error_details\": errDetails\n    };\n  } else {\n    result = {\n      \"responder_cliente\": true,\n      \"resposta_cliente\": \"Recebi sua mensagem. Para seguir com a Avaliação Técnica, me informe o nome do condomínio, bairro e o problema principal identificado.\",\n      \"intencao_atual\": \"indefinido\",\n      \"etapa_funil\": \"coletando_dados_condominio\",\n      \"segmento\": \"indefinido\",\n      \"dados_coletados\": {},\n      \"lead_qualificado\": false,\n      \"encaminhar_humano\": false,\n      \"motivo_encaminhamento\": null,\n      \"bloquear\": false,\n      \"motivo_bloqueio\": null,\n      \"is_fallback\": true,\n      \"error_details\": errDetails\n    };\n  }\n}\n\nreturn [{ json: result }];"
      },
      "id": "parse_ia_response",
      "name": "Motor Aninha V3 Atendimento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_fallback }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check_fallback",
      "name": "Houve Fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nejdtvkpiclagsnfljsz.supabase.co/rest/v1/logs_aninha_erros",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { workflow: \"002_roteador_aninha_v3_atendimento\", node_name: \"parse_ia_response\", canal: \"telegram\", chat_id: $node[\"Entrada Aninha Atendimento\"].json.body.chat_id, erro: $json.error_details, payload: $json } }}"
      },
      "id": "log_error_supabase",
      "name": "Logar Erro de IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond_caller",
      "name": "Retornar Resposta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Entrada Aninha Atendimento": {
      "main": [
        [
          {
            "node": "Chamar Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Gemini": {
      "main": [
        [
          {
            "node": "Motor Aninha V3 Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor Aninha V3 Atendimento": {
      "main": [
        [
          {
            "node": "Houve Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Houve Fallback?": {
      "main": [
        [
          {
            "node": "Logar Erro de IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retornar Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logar Erro de IA": {
      "main": [
        [
          {
            "node": "Retornar Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}