DL_NEXUS_V3_LOCAL/12_N8N_WORKFLOWS_PROXIMOS/083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE.json
{
  "name": "083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publicar-google-business-dl-nexus",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-001-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "083-google-business-dl-nexus"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-approved",
              "leftValue": "={{ $json.body.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-002-if-approved",
      "name": "IF: approved=true",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// KILLCRITIC - DL NEXUS V3\n// Workflow: 083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE\n// ============================================================\n\nconst payload = $input.first().json;\nconst body = payload.body || {};\n\n// --- CAMPOS OBRIGAT\u00d3RIOS ---\nconst camposObrigatorios = ['texto', 'approved'];\nconst camposFaltantes = camposObrigatorios.filter(c => !body[c]);\n\nif (camposFaltantes.length > 0) {\n  return [{\n    json: {\n      killcritic_aprovado: false,\n      motivo: `Campos obrigat\u00f3rios ausentes: ${camposFaltantes.join(', ')}`,\n      workflow: '083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// --- VALIDA\u00c7\u00c3O DE CONTE\u00daDO ---\nconst texto = String(body.texto || '').trim();\n\nif (texto.length < 10) {\n  return [{\n    json: {\n      killcritic_aprovado: false,\n      motivo: 'Texto da publica\u00e7\u00e3o muito curto (m\u00ednimo 10 caracteres).',\n      workflow: '083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (texto.length > 1500) {\n  return [{\n    json: {\n      killcritic_aprovado: false,\n      motivo: 'Texto excede 1500 caracteres (limite do Google Business Profile).',\n      workflow: '083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// --- BLOCKLIST DE CONTE\u00daDO PROIBIDO ---\nconst blocklist = [\n  'whatsapp.com', 'wa.me', 't.me/joinchat',\n  'spam', 'fake', 'promo\u00e7\u00e3o ilegal'\n];\nconst textoLower = texto.toLowerCase();\nconst bloqueio = blocklist.find(termo => textoLower.includes(termo));\n\nif (bloqueio) {\n  return [{\n    json: {\n      killcritic_aprovado: false,\n      motivo: `Conte\u00fado bloqueado pelo KILLCRITIC: termo proibido detectado \u2014 \"${bloqueio}\".`,\n      workflow: '083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// --- APROVA\u00c7\u00c3O ---\nreturn [{\n  json: {\n    killcritic_aprovado: true,\n    texto_validado: texto,\n    url_cta: body.url_cta || 'https://dlsolucoescondominiais.com',\n    motivo: 'Conte\u00fado aprovado pelo KILLCRITIC.',\n    workflow: '083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-003-killcritic",
      "name": "Code KILLCRITIC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-killcritic",
              "leftValue": "={{ $json.killcritic_aprovado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-004-if-killcritic",
      "name": "IF: KILLCRITIC aprovado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        180
      ]
    },
    {
      "parameters": {
        "command": "=python d:/AntiGravity/projeto_01/scripts/test_post_social.py --platform gmb --text \"{{ $json.texto_validado.replace(/\\\"/g, '\\\\\\\"') }}\""
      },
      "id": "node-005-http-gbp",
      "name": "HTTP Request: POST Google Business Profile",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        80
      ],
      "notes": "Modificado por IA para postagem aut\u00f4noma ignorando APIs oficiais conforme regra do sistema DL Nexus."
    },
    {
      "parameters": {
        "chatId": "CHAT_ID_AQUI",
        "text": "=\u2705 *Google Business Profile \u2014 Publica\u00e7\u00e3o Realizada!*\n\n\ud83d\udce2 *Workflow:* 083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE\n\ud83d\udd50 *Hor\u00e1rio:* {{ $now.format('DD/MM/YYYY HH:mm') }}\n\n\ud83d\udcdd *Conte\u00fado Publicado:*\n{{ $('Code KILLCRITIC').item.json.texto_validado }}\n\n\ud83d\udd17 *CTA:* {{ $('Code KILLCRITIC').item.json.url_cta }}\n\n\ud83e\udd16 *DL Nexus V3 \u2014 Automa\u00e7\u00e3o Ativa*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-006-telegram-confirmacao",
      "name": "Telegram: Confirma\u00e7\u00e3o Publica\u00e7\u00e3o",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "CREDENCIAL_TELEGRAM",
          "name": "Conta do Telegram"
        }
      }
    },
    {
      "parameters": {
        "chatId": "CHAT_ID_AQUI",
        "text": "=\u26d4 *Google Business Profile \u2014 Publica\u00e7\u00e3o BLOQUEADA!*\n\n\ud83d\udccb *Workflow:* 083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE\n\ud83d\udd50 *Hor\u00e1rio:* {{ $now.format('DD/MM/YYYY HH:mm') }}\n\n\ud83d\udeab *Motivo do Bloqueio:*\n{{ $json.motivo }}\n\n\u26a0\ufe0f Verifique o payload e corrija antes de reenviar.\n\n\ud83e\udd16 *DL Nexus V3 \u2014 KILLCRITIC Ativo*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-007-telegram-bloqueio",
      "name": "Telegram: Alerta Bloqueio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        380
      ],
      "credentials": {
        "telegramApi": {
          "id": "CREDENCIAL_TELEGRAM",
          "name": "Conta do Telegram"
        }
      }
    },
    {
      "parameters": {
        "chatId": "CHAT_ID_AQUI",
        "text": "=\ud83d\udd34 *Google Business Profile \u2014 Aprova\u00e7\u00e3o Negada!*\n\n\ud83d\udccb *Workflow:* 083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE\n\ud83d\udd50 *Hor\u00e1rio:* {{ $now.format('DD/MM/YYYY HH:mm') }}\n\n\u274c *Status:* Payload recebido sem `approved=true`.\n\nO campo `approved` deve ser `true` para autorizar a publica\u00e7\u00e3o.\n\n\ud83e\udd16 *DL Nexus V3 \u2014 Seguran\u00e7a Ativa*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-008-telegram-nao-aprovado",
      "name": "Telegram: Aviso N\u00e3o Aprovado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "CREDENCIAL_TELEGRAM",
          "name": "Conta do Telegram"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"mensagem\": \"Publica\u00e7\u00e3o enviada ao Google Business Profile com sucesso.\",\n  \"workflow\": \"083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "node-009-respond-sucesso",
      "name": "Respond: Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"blocked\",\n  \"mensagem\": \"Publica\u00e7\u00e3o bloqueada pelo KILLCRITIC ou por falta de aprova\u00e7\u00e3o.\",\n  \"motivo\": \"{{ $json.motivo }}\",\n  \"workflow\": \"083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "node-010-respond-bloqueio",
      "name": "Respond: Bloqueio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        380
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Erro ao publicar no Google Business Profile. Workflow: 083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE. Timestamp: {{ $now.toISO() }}"
      },
      "id": "node-011-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        560
      ]
    },
    {
      "parameters": {
        "chatId": "CHAT_ID_AQUI",
        "text": "=\ud83c\udd98 *ERRO CR\u00cdTICO \u2014 Google Business Profile*\n\n\ud83d\udccb *Workflow:* 083_PUBLICADOR_GOOGLE_BUSINESS_PROFILE\n\ud83d\udd50 *Hor\u00e1rio:* {{ $now.format('DD/MM/YYYY HH:mm') }}\n\n\u26a0\ufe0f *Erro:* {{ $json.error.message }}\n\ud83d\udccd *N\u00f3:* {{ $json.execution.lastNodeExecuted }}\n\nVerifique as credenciais OAuth2 e os IDs de conta/localiza\u00e7\u00e3o.\n\n\ud83e\udd16 *DL Nexus V3 \u2014 Monitor de Erros*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-012-telegram-erro",
      "name": "Telegram: Alerta Erro Cr\u00edtico",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        460,
        560
      ],
      "credentials": {
        "telegramApi": {
          "id": "CREDENCIAL_TELEGRAM",
          "name": "Conta do Telegram"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "IF: approved=true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: approved=true": {
      "main": [
        [
          {
            "node": "Code KILLCRITIC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Aviso N\u00e3o Aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code KILLCRITIC": {
      "main": [
        [
          {
            "node": "IF: KILLCRITIC aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: KILLCRITIC aprovado": {
      "main": [
        [
          {
            "node": "HTTP Request: POST Google Business Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Alerta Bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: POST Google Business Profile": {
      "main": [
        [
          {
            "node": "Telegram: Confirma\u00e7\u00e3o Publica\u00e7\u00e3o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Confirma\u00e7\u00e3o Publica\u00e7\u00e3o": {
      "main": [
        [
          {
            "node": "Respond: Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Alerta Bloqueio": {
      "main": [
        [
          {
            "node": "Respond: Bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Aviso N\u00e3o Aprovado": {
      "main": [
        [
          {
            "node": "Respond: Bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Telegram: Alerta Erro Cr\u00edtico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-05-22T23:02:00.000Z",
      "updatedAt": "2026-05-22T23:02:00.000Z",
      "id": "tag-google-business",
      "name": "google-business-profile"
    },
    {
      "createdAt": "2026-05-22T23:02:00.000Z",
      "updatedAt": "2026-05-22T23:02:00.000Z",
      "id": "tag-dl-nexus-v3",
      "name": "dl-nexus-v3"
    },
    {
      "createdAt": "2026-05-22T23:02:00.000Z",
      "updatedAt": "2026-05-22T23:02:00.000Z",
      "id": "tag-marketing",
      "name": "marketing"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-22T23:02:00.000Z",
  "versionId": "083-v1-2026-05-22"
}