DL_NEXUS_V3_LOCAL/12_N8N_WORKFLOWS_PROXIMOS/131_SCORING_LEADS_DL_NEXUS.json
{
  "name": "131_SCORING_LEADS_DL_NEXUS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "WEBHOOK_PATH_AQUI",
        "options": {}
      },
      "name": "Webhook Recebe Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "webhook_scoring_lead_131"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.item.json || {};\nlet score = 0;\nlet products = [];\nlet tipo = (lead.tipo_lead || '').toLowerCase();\nlet dor = (lead.dor_principal || '').toLowerCase();\nlet regiao = (lead.regiao || lead.bairro || lead.cidade || '').toLowerCase();\n\n// 1. Tipo e Produtos\nif (tipo.includes('condom\u00ednio') || tipo.includes('condominio')) {\n    score += 20;\n    products.push('DL Guardi\u00e3o', 'Fortress', 'Gatekeeper', 'DL Acqua', 'DL Partner', 'DL Volt');\n} else if (tipo.includes('escola') || tipo.includes('colegio') || tipo.includes('col\u00e9gio')) {\n    score += 20;\n    products.push('CFTV', 'Preven\u00e7\u00e3o de Inc\u00eandio', 'Controle de Acesso');\n} else if (tipo.includes('restaurante') || tipo.includes('lanchonete')) {\n    score += 20;\n    products.push('Mult Grill', 'Infraestrutura El\u00e9trica');\n}\n\n// 2. Presen\u00e7a Digital\nif (lead.tem_redes_sociais || lead.instagram || lead.facebook) score += 10;\nif (lead.site_ruim === true || lead.site_desatualizado === true) score += 10;\n\n// 3. Dores\nif (dor.includes('seguran\u00e7a') || dor.includes('energia') || dor.includes('cftv') || dor.includes('roubo') || dor.includes('inc\u00eandio') || dor.includes('conta alta')) score += 20;\n\n// 4. Contato\nif (lead.telefone_publico || lead.telefone) score += 10;\n\n// 5. Regi\u00e3o\nconst regioes_prioritarias = ['barra', 'recreio', 'jacarepagua', 'jacarepagu\u00e1', 'sul', 'centro', 'copacabana', 'ipanema', 'leblon', 'botafogo', 'flamengo'];\nif (regioes_prioritarias.some(r => regiao.includes(r))) {\n    score += 10;\n}\n\n// Preparar payload de retorno\nreturn {\n    json: {\n        ...lead,\n        score_oportunidade: score,\n        produto_recomendado: products\n    }\n};"
      },
      "name": "Calcular Score DL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "name": "Retorna Score",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Recebe Lead": {
      "main": [
        [
          {
            "node": "Calcular Score DL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Score DL": {
      "main": [
        [
          {
            "node": "Retorna Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "scoringLeads131DlNexus20260523"
}