DL_NEXUS_V3_LOCAL/12_N8N_WORKFLOWS_PROXIMOS/150_MAQUINA_CONTEUDO_DIARIA_DL.json
{
  "name": "150_MAQUINA_CONTEUDO_DIARIA_DL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "e8e2fa51-e374-4b47-bc82-019623dc1001",
      "name": "Triggers Diarios (9h, 14h, 19h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const random = Math.random();\nlet path = 0;\nif (random > 0.5) {\n  path = 0; // News-Jacking (G1/ABESE)\n} else {\n  path = 1; // Obras (Google Drive)\n}\nreturn [{ json: { path: path } }];"
      },
      "id": "switch_logic_1",
      "name": "Roteador de Postagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "routing-rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "number": [
                  {
                    "value1": "={{$json.path}}",
                    "operation": "equal"
                  }
                ]
              },
              "output": 0
            },
            {
              "conditions": {
                "number": [
                  {
                    "value1": "={{$json.path}}",
                    "operation": "equal",
                    "value2": 1
                  }
                ]
              },
              "output": 1
            }
          ]
        }
      },
      "id": "router_1",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://g1.globo.com/rss/g1/"
      },
      "id": "rss_g1",
      "name": "Ler RSS G1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "url": "https://abese.org.br/feed/"
      },
      "id": "rss_abese",
      "name": "Ler RSS ABESE",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [];\n// Sorteia uma noticia aleatoria\nconst randomIndex = Math.floor(Math.random() * items.length);\nconst noticia = items[randomIndex].json;\nreturn [{ json: { title: noticia.title, content: noticia.contentSnippet || noticia.content, link: noticia.link } }];"
      },
      "id": "extract_news",
      "name": "Extrair Manchete Aleatoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nvidia/nemotron-3-nano-omni-30b-a3b-reasoning\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Atue como Social Media e Designer especialista em Marketing Digital B2B. A empresa \u00e9 a DL Solu\u00e7\u00f5es Condominiais (Especialista em automa\u00e7\u00e3o, seguran\u00e7a eletr\u00f4nica e el\u00e9trica. NUNCA hidr\u00e1ulica. Associada ABESE/CREA-RJ). Relacione a not\u00edcia fornecida com nossas atividades: Energia Solar, Recarga de Carros El\u00e9tricos, Portaria Aut\u00f4noma, Manuten\u00e7\u00e3o Recorrente, AVCB, Preven\u00e7\u00e3o de Inc\u00eandio, DL Guardi\u00e3o (assaltos), DL EcoVolt (valor de energia), DL Fortress (gest\u00e3o de s\u00edndicos). Explique o significado e o impacto para o condom\u00ednio de forma t\u00e9cnica e comercial.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Not\u00edcia: {{$('Extrair Manchete Aleatoria').item.json.title}} - {{$('Extrair Manchete Aleatoria').item.json.content}}\"\n    }\n  ],\n  \"max_tokens\": 1024\n}",
        "options": {}
      },
      "id": "nvidia_news",
      "name": "Gerar Post (NVIDIA Nemotron)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        150
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "limit": 10,
        "options": {
          "query": "mimeType='image/jpeg' or mimeType='image/png'"
        }
      },
      "id": "drive_search",
      "name": "Buscar Obras (Google Drive)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        600,
        450
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vDUp3ZKxazIKho51",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [];\nconst randomIndex = Math.floor(Math.random() * items.length);\nreturn [items[randomIndex]];"
      },
      "id": "extract_image",
      "name": "Sortear Foto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nvidia/nemotron-3-nano-omni-30b-a3b-reasoning\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Atue como Social Media especialista em engenharia condominial. Escreva um post de bastidores de obra ressaltando a excel\u00eancia t\u00e9cnica da DL Solu\u00e7\u00f5es Condominiais nas \u00e1reas de energia solar, infraestrutura el\u00e9trica ou seguran\u00e7a eletr\u00f4nica. Foco em s\u00edndicos profissionais.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Crie uma postagem inspiradora e corporativa para acompanhar uma foto real de instala\u00e7\u00e3o de infraestrutura em um condom\u00ednio.\"\n    }\n  ],\n  \"max_tokens\": 1024\n}",
        "options": {}
      },
      "id": "nvidia_drive",
      "name": "Gerar Legenda Obra (NVIDIA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Gerar Post (NVIDIA Nemotron)\"] ? $node[\"Gerar Post (NVIDIA Nemotron)\"].json.choices[0].message.content : $node[\"Gerar Legenda Obra (NVIDIA)\"].json.choices[0].message.content;\nreturn [{ json: { post_text: text } }];"
      },
      "id": "merge_texts",
      "name": "Consolidar Texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAUo98TBYE8BRYfOhZAkrZB3CEd34JVWNCrosfxgqT1H7sUMT8cxAtlWP4p9gVju5jtCcFwtVHZC0QpU1OH10yn5ncfSTgdxF4fVI4WipvzcCK5VRGCcTa4fInRCmTqLD80dY3fRyUtBEYZCCNy4Y0wjir9169Nw1SPDMZBn8U6mq2JsuPsOfiym0r990HZAfZAKAZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{$json.post_text}}\"\n}",
        "options": {}
      },
      "id": "post_facebook",
      "name": "Postar Facebook (Texto)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1400,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mybusiness.googleapis.com/v4/accounts/YOUR_ACCOUNT_ID/locations/YOUR_LOCATION_ID/localPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleBusinessProfileOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"languageCode\": \"pt-BR\",\n  \"summary\": \"{{$json.post_text}}\"\n}",
        "options": {}
      },
      "id": "post_gmb",
      "name": "Postar Google Business",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1400,
        450
      ],
      "credentials": {
        "googleBusinessProfileOAuth2Api": {
          "id": "ApF0g3GlEGbD6cAy",
          "name": "Google Business Profile account"
        }
      }
    }
  ],
  "connections": {
    "Triggers Diarios (9h, 14h, 19h)": {
      "main": [
        [
          {
            "node": "Roteador de Postagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador de Postagem": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ler RSS G1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ler RSS ABESE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Obras (Google Drive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler RSS G1": {
      "main": [
        [
          {
            "node": "Extrair Manchete Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler RSS ABESE": {
      "main": [
        [
          {
            "node": "Extrair Manchete Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Manchete Aleatoria": {
      "main": [
        [
          {
            "node": "Gerar Post (NVIDIA Nemotron)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Obras (Google Drive)": {
      "main": [
        [
          {
            "node": "Sortear Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sortear Foto": {
      "main": [
        [
          {
            "node": "Gerar Legenda Obra (NVIDIA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Post (NVIDIA Nemotron)": {
      "main": [
        [
          {
            "node": "Consolidar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Legenda Obra (NVIDIA)": {
      "main": [
        [
          {
            "node": "Consolidar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Texto": {
      "main": [
        [
          {
            "node": "Postar Facebook (Texto)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postar Google Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": true
}