DL_NEXUS_V3_LOCAL/12_N8N_WORKFLOWS_PROXIMOS/177_GERAR_PROPOSTA_MARKDOWN.json
{
  "name": "177_GERAR_PROPOSTA_MARKDOWN",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "177-gerar-proposta-markdown",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1",
      "webhookId": "177-gerar-proposta-markdown-webhook"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json.body || $input.first().json;\n\n// 1. Verificacao de Dados Criticos\nconst requiredFields = ['cliente', 'servicos', 'preco_recomendado'];\nlet isMissingData = false;\n\nfor (const field of requiredFields) {\n  if (!inputData[field]) {\n    isMissingData = true;\n    break;\n  }\n}\n\nif (isMissingData) {\n  return [{\n    json: {\n      status: \"Sob Avaliação Técnica\",\n      markdown: \"# Proposta Sob Avaliação Técnica\\n\\nFaltam dados críticos para a formulação da proposta comercial. Por favor, agende uma **Avaliação Técnica** com nosso **Tecnólogo Responsável**.\",\n      error: \"Dados críticos ausentes (cliente, servicos ou preco_recomendado).\"\n    }\n  }];\n}\n\n// 2. Filtro e Remocao Estrita de Custos Internos (Nao expor ao cliente)\ndelete inputData.custo_interno;\ndelete inputData.margem_lucro_interna;\ndelete inputData.custos_operacionais;\n\n// 3. Regra de Gastronomia (Alta Urgencia e Fator Multiplicador)\nlet urgencyNotice = \"\";\nconst servicosLower = JSON.stringify(inputData.servicos).toLowerCase();\nif (servicosLower.includes('chapa') || servicosLower.includes('fritadeira') || servicosLower.includes('gastronomia')) {\n  // A gastronomia recebe tratamento de alta urgência com ajuste já calculado no fator multiplicador no workflow anterior.\n  urgencyNotice = \"\\n> **Aviso de Alta Urgência:** Equipamentos de gastronomia identificados (chapas/fritadeiras). A precificação reflete o fator multiplicador de risco e a execução requer prioridade máxima devido à criticidade na operação.\";\n}\n\n// 4. Tratamento de Impostos\nlet impostoTax = inputData.imposto_estimado_percentual || \"[VALOR ESTIMADO]\";\n\n// 5. Montagem do Markdown\nlet markdown = `# Proposta Comercial - DL Soluções Condominiais\\n\\n`;\nmarkdown += `**Cliente:** ${inputData.cliente}\\n\\n`;\nmarkdown += `## Escopo dos Serviços\\n`;\nif (Array.isArray(inputData.servicos)) {\n  inputData.servicos.forEach(s => markdown += `- ${s}\\n`);\n} else {\n  markdown += `${inputData.servicos}\\n`;\n}\n\nif (urgencyNotice) {\n  markdown += `${urgencyNotice}\\n\\n`;\n}\n\nmarkdown += `## Investimento\\n`;\n// Mostrar APENAS faixa comercial e preco recomendado\nif (inputData.faixa_comercial_min && inputData.faixa_comercial_max) {\n  markdown += `- **Faixa Comercial:** R$ ${inputData.faixa_comercial_min} a R$ ${inputData.faixa_comercial_max}\\n`;\n} else if (inputData.preco_min && inputData.preco_max) {\n  markdown += `- **Faixa Comercial:** R$ ${inputData.preco_min} a R$ ${inputData.preco_max}\\n`;\n}\nmarkdown += `- **Valor Recomendado:** R$ ${inputData.preco_recomendado}\\n\\n`;\n\nmarkdown += `### Observações Fiscais\\n`;\nmarkdown += `- **Impostos:** imposto_estimado_percentual de ${impostoTax}% (imposto estimado, sujeito a validação contábil com nosso contador).\\n\\n`;\n\nmarkdown += `---\\n\\n`;\nmarkdown += `*Nota: Esta proposta comercial não dispensa a necessidade de uma **Avaliação Técnica** in loco pelo nosso **Tecnólogo Responsável**.*\\n`;\nmarkdown += `*Operação e sistema gerenciados por **Fortress**.*`;\n\nreturn [{\n  json: {\n    status: \"Sucesso\",\n    markdown: markdown\n  }\n}];"
      },
      "name": "Gerador Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gerador Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador Markdown": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "gerarPropostaMarkdown177DlNexus20260527"
}
