DL_NEXUS_V3_LOCAL/12_N8N_WORKFLOWS_PROXIMOS/181_ORCAMENTO_INTERNO_WEBHOOK.json
{
  "name": "181_ORCAMENTO_INTERNO_WEBHOOK",
  "nodes": [
    {
      "parameters": {
        "path": "orcamento-interno-dl",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook_entry",
      "name": "Webhook Or\u00e7amento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "webhookId": "orcamento-interno-dl-181"
    },
    {
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// MOTOR DE OR\u00c7AMENTO INTERNO DL SOLU\u00c7\u00d5ES \u2014 v3.0\n// Gera DOIS documentos: Cliente (sanitizado) e Interno (completo)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst b = $input.item.json.body || $input.item.json;\nconst agora = new Date().toISOString().slice(0, 10);\nconst hora = new Date().toLocaleTimeString('pt-BR');\n\n// \u2500\u2500 Parse de listas JSON \u2500\u2500\nlet servicos = [];\ntry { servicos = JSON.parse(b.servicos_lista || '[]'); } catch(e) { servicos = [b.servicos || 'N\u00e3o informado']; }\nlet chapa = [];\ntry { chapa = JSON.parse(b.chapa_lista || '[]'); } catch(e) { chapa = []; }\nlet modalidade = [];\ntry { modalidade = JSON.parse(b.modalidade_lista || '[]'); } catch(e) { modalidade = []; }\n\n// \u2500\u2500 Dados do cliente \u2500\u2500\nconst nome = b.nome_cliente || 'Cliente n\u00e3o identificado';\nconst endereco = b.endereco || 'N\u00e3o informado';\nconst tipo = b.tipo_cliente || 'N\u00e3o informado';\nconst tipoOutro = b.tipo_cliente_outro || '';\nconst documento = b.documento || 'N\u00e3o informado';\nconst telefone = b.telefone || 'N\u00e3o informado';\nconst email = b.email_cliente || 'N\u00e3o informado';\n\n// \u2500\u2500 An\u00e1lise do local \u2500\u2500\nconst descLocal = b.descricao_local || 'N\u00e3o descrito';\nconst estacionamento = b.estacionamento || 'N\u00e3o informado';\nconst escada = b.escada || 'N\u00e3o';\n\n// \u2500\u2500 Dados el\u00e9tricos \u2500\u2500\nconst voltagem = b.voltagem || 'N\u00e3o medido';\nconst voltagemOutro = b.voltagem_outro || '';\nconst hz = b.frequencia_hz || '60Hz';\nconst amperagem = b.amperagem || 'N\u00e3o medido';\nconst rede = b.rede_eletrica || 'N\u00e3o identificado';\nconst concessionaria = b.concessionaria || 'Light';\n\n// \u2500\u2500 Log\u00edstica \u2500\u2500\nconst urgencia = b.urgencia || 'Normal';\nconst tempoExec = b.tempo_execucao || 'A definir';\nconst tempoDeslocamento = b.tempo_deslocamento || 'A calcular';\nconst qtdProf = b.qtd_profissionais || '1';\nconst tempoEntrega = b.tempo_entrega || '3-7 dias';\n\n// \u2500\u2500 Chapa / Infra \u2500\u2500\nconst chapaOutros = b.chapa_outros || '';\nconst detalheInfra = b.detalhe_infra || '';\nconst observacoes = b.observacoes || '';\n\n// \u2500\u2500 Dados internos (N\u00c3O VAI PRO CLIENTE) \u2500\u2500\nconst materialInterno = b.material_interno || '';\nconst custoInterno = b.custo_interno || '';\nconst notasInternas = b.notas_internas || '';\n\n// \u2500\u2500 Multiplicadores de urg\u00eancia \u2500\u2500\nconst multUrgencia = { 'Normal': 1.0, 'Urg\u00eancia': 1.5, 'Emerg\u00eancia': 2.5 };\nconst mult = multUrgencia[urgencia] || 1.0;\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// DOCUMENTO 1: OR\u00c7AMENTO CLIENTE (SANITIZADO)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nlet docCliente = `# OR\u00c7AMENTO \u2014 DL SOLU\u00c7\u00d5ES CONDOMINIAIS LTDA\\n`;\ndocCliente += `## Or\u00e7amento Cliente: ${nome}\\n\\n`;\ndocCliente += `**Data:** ${agora} | **Hora:** ${hora}\\n`;\ndocCliente += `**Cliente:** ${nome}\\n`;\ndocCliente += `**Endere\u00e7o:** ${endereco}\\n`;\ndocCliente += `**Tipo:** ${tipo} ${tipoOutro}\\n`;\ndocCliente += `**Contato:** ${telefone}\\n\\n`;\ndocCliente += `---\\n\\n`;\n\ndocCliente += `### Servi\u00e7os Solicitados\\n\\n`;\nservicos.forEach(s => { docCliente += `- \u2705 ${s}\\n`; });\nif (chapa.length > 0) {\n  docCliente += `\\n**Chapa:** ${chapa.join(', ')} ${chapaOutros ? '| ' + chapaOutros : ''}\\n`;\n}\nif (detalheInfra) docCliente += `\\n**Infraestrutura:** ${detalheInfra}\\n`;\n\ndocCliente += `\\n### Condi\u00e7\u00f5es\\n\\n`;\ndocCliente += `| Item | Detalhe |\\n`;\ndocCliente += `|------|---------|\\n`;\ndocCliente += `| Prioridade | ${urgencia} |\\n`;\ndocCliente += `| Prazo estimado | ${tempoEntrega} |\\n`;\ndocCliente += `| Execu\u00e7\u00e3o estimada | ${tempoExec} |\\n`;\ndocCliente += `| Modalidade | ${modalidade.join(', ') || 'A definir'} |\\n`;\ndocCliente += `\\n`;\n\ndocCliente += `### Materiais\\n\\n`;\ndocCliente += `> Os materiais e equipamentos ser\u00e3o especificados com nome comercial DL Solu\u00e7\u00f5es. `;\ndocCliente += `Detalhamento t\u00e9cnico completo (fabricante, modelo, part number) ser\u00e1 fornecido `;\ndocCliente += `**somente ap\u00f3s a assinatura do contrato**.\\n\\n`;\n\n// \u2500\u2500 Pr\u00e9-Contrato / Cl\u00e1usula de Sigilo \u2500\u2500\nif (modalidade.includes('Contrato Recorrente')) {\n  docCliente += `### Pr\u00e9-Contrato \u2014 Cl\u00e1usula de Confidencialidade\\n\\n`;\n  docCliente += `Este documento constitui um **pr\u00e9-contrato** de inten\u00e7\u00e3o de presta\u00e7\u00e3o de servi\u00e7os. `;\n  docCliente += `Ao receber este or\u00e7amento, o destinat\u00e1rio concorda com as seguintes condi\u00e7\u00f5es:\\n\\n`;\n  docCliente += `1. **Confidencialidade:** As informa\u00e7\u00f5es contidas neste documento, incluindo `;\n  docCliente += `valores, especifica\u00e7\u00f5es t\u00e9cnicas, escopo e condi\u00e7\u00f5es comerciais, s\u00e3o de uso `;\n  docCliente += `exclusivo do destinat\u00e1rio listado acima. \u00c9 **estritamente proibida** a divulga\u00e7\u00e3o, `;\n  docCliente += `reprodu\u00e7\u00e3o, encaminhamento ou compartilhamento total ou parcial deste documento `;\n  docCliente += `com terceiros, empresas, profissionais ou pessoas n\u00e3o listadas neste instrumento, `;\n  docCliente += `sob pena de responsabiliza\u00e7\u00e3o civil e criminal nos termos da legisla\u00e7\u00e3o vigente.\\n\\n`;\n  docCliente += `2. **Vig\u00eancia:** Este pr\u00e9-contrato tem validade de 15 (quinze) dias corridos a partir `;\n  docCliente += `da data de emiss\u00e3o.\\n\\n`;\n  docCliente += `3. **Exclusividade de informa\u00e7\u00f5es:** As solu\u00e7\u00f5es t\u00e9cnicas apresentadas s\u00e3o propriedade `;\n  docCliente += `intelectual da DL Solu\u00e7\u00f5es Condominiais LTDA e n\u00e3o podem ser replicadas ou adaptadas `;\n  docCliente += `por empresas concorrentes sem autoriza\u00e7\u00e3o expressa.\\n\\n`;\n}\n\ndocCliente += `---\\n`;\ndocCliente += `*DL Solu\u00e7\u00f5es Condominiais LTDA \u2014 CREA-RJ*\\n`;\ndocCliente += `*contato@dlsolucoescondominiais.com.br*\\n`;\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// DOCUMENTO 2: OR\u00c7AMENTO INTERNO DL (COMPLETO)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nlet docInterno = `# OR\u00c7AMENTO INTERNO DL \u2014 CONFIDENCIAL\\n`;\ndocInterno += `## Or\u00e7amento Interno DL: ${nome}\\n\\n`;\ndocInterno += `**\u26a0\ufe0f DOCUMENTO INTERNO \u2014 N\u00c3O ENVIAR AO CLIENTE**\\n\\n`;\ndocInterno += `**Data:** ${agora} | **Hora:** ${hora}\\n`;\ndocInterno += `**Cliente:** ${nome}\\n`;\ndocInterno += `**Endere\u00e7o:** ${endereco}\\n`;\ndocInterno += `**Tipo:** ${tipo} ${tipoOutro}\\n`;\ndocInterno += `**Documento:** ${documento}\\n`;\ndocInterno += `**Telefone/WhatsApp:** ${telefone}\\n`;\ndocInterno += `**E-mail:** ${email}\\n\\n`;\ndocInterno += `---\\n\\n`;\n\ndocInterno += `### \ud83d\udccd An\u00e1lise do Local\\n\\n`;\ndocInterno += `| Campo | Valor |\\n`;\ndocInterno += `|-------|-------|\\n`;\ndocInterno += `| Descri\u00e7\u00e3o | ${descLocal} |\\n`;\ndocInterno += `| Estacionamento | ${estacionamento} |\\n`;\ndocInterno += `| Escada | ${escada} |\\n`;\ndocInterno += `| Deslocamento | ${tempoDeslocamento} |\\n`;\ndocInterno += `\\n`;\n\ndocInterno += `### \u26a1 Dados El\u00e9tricos\\n\\n`;\ndocInterno += `| Campo | Valor |\\n`;\ndocInterno += `|-------|-------|\\n`;\ndocInterno += `| Voltagem | ${voltagem} ${voltagemOutro} |\\n`;\ndocInterno += `| Amperagem | ${amperagem} |\\n`;\ndocInterno += `| Frequ\u00eancia | ${hz} |\\n`;\ndocInterno += `| Rede | ${rede} |\\n`;\ndocInterno += `| Concession\u00e1ria | ${concessionaria} |\\n`;\ndocInterno += `\\n`;\n\ndocInterno += `### \ud83d\udd27 Servi\u00e7os\\n\\n`;\nservicos.forEach(s => { docInterno += `- \u2705 ${s}\\n`; });\nif (chapa.length > 0) docInterno += `\\n**Chapa:** ${chapa.join(', ')} ${chapaOutros ? '| ' + chapaOutros : ''}\\n`;\nif (detalheInfra) docInterno += `\\n**Infra:** ${detalheInfra}\\n`;\ndocInterno += `\\n`;\n\ndocInterno += `### \ud83d\ude9b Log\u00edstica\\n\\n`;\ndocInterno += `| Campo | Valor |\\n`;\ndocInterno += `|-------|-------|\\n`;\ndocInterno += `| Urg\u00eancia | ${urgencia} (multiplicador: x${mult}) |\\n`;\ndocInterno += `| Tempo de Execu\u00e7\u00e3o | ${tempoExec} |\\n`;\ndocInterno += `| Prazo de Entrega | ${tempoEntrega} |\\n`;\ndocInterno += `| Profissionais | ${qtdProf} |\\n`;\ndocInterno += `| Modalidade | ${modalidade.join(', ') || 'A definir'} |\\n`;\ndocInterno += `\\n`;\n\ndocInterno += `### \ud83d\udd10 Material (FABRICANTE / MODELO / HARDWARE)\\n\\n`;\ndocInterno += `\\'\\'\\'\\n${materialInterno || 'N\u00e3o especificado pelo solicitante'}\\n\\'\\'\\'\\n\\n`;\n\ndocInterno += `### \ud83d\udcb0 Custo Interno\\n\\n`;\ndocInterno += `**Custo estimado:** ${custoInterno || 'A calcular'}\\n\\n`;\n\nif (notasInternas) {\n  docInterno += `### \ud83d\udcdd Notas Internas\\n\\n`;\n  docInterno += `${notasInternas}\\n\\n`;\n}\n\nif (observacoes) {\n  docInterno += `### \ud83d\udccc Observa\u00e7\u00f5es do Solicitante\\n\\n`;\n  docInterno += `${observacoes}\\n\\n`;\n}\n\ndocInterno += `---\\n`;\ndocInterno += `*Gerado automaticamente pelo DL Nexus \u2014 Motor de Or\u00e7amento v3.0*\\n`;\n\n// \u2500\u2500 Definir destinos \u2500\u2500\nconst emailDestino = 'orcamento@dlsolucoescondominiais.com.br';\nconst contatoCliente = email !== 'N\u00e3o informado' ? email : telefone;\n\nreturn [{\n  json: {\n    status: 'orcamento_gerado',\n    data: agora,\n    cliente: nome,\n    contato_cliente: contatoCliente,\n    telefone_cliente: telefone,\n    email_cliente: email,\n    urgencia: urgencia,\n    multiplicador_urgencia: mult,\n    orcamento_cliente_md: docCliente,\n    orcamento_interno_md: docInterno,\n    email_destino_interno: emailDestino,\n    assunto_cliente: `Or\u00e7amento Cliente \u2014 ${nome} \u2014 ${agora}`,\n    assunto_interno: `Or\u00e7amento Interno DL \u2014 ${nome} \u2014 ${agora}`,\n    enviar_whatsapp: email === 'N\u00e3o informado' ? true : false,\n    enviar_email: email !== 'N\u00e3o informado' ? true : false\n  }\n}];"
      },
      "id": "code_motor",
      "name": "Motor Or\u00e7amento v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "orcamento@dlsolucoescondominiais.com.br",
        "toEmail": "={{ $json.email_destino_interno }}",
        "subject": "={{ $json.assunto_interno }}",
        "text": "={{ $json.orcamento_interno_md }}",
        "options": {}
      },
      "id": "smtp_interno",
      "name": "SMTP Interno DL",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        540,
        160
      ],
      "credentials": {
        "smtp": {
          "id": "smtp_credential_id",
          "name": "SMTP DL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "CHAT_ID_AQUI",
        "text": "={{ $json.orcamento_cliente_md }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram_diogo",
      "name": "Telegram Diogo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        540,
        440
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credential_id",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"status\": \"ok\", \"mensagem\": \"Or\u00e7amento processado com sucesso. Documento do cliente enviado via Telegram. C\u00f3pia interna enviada para orcamento@dlsolucoescondominiais.com.br\"}"
      },
      "id": "respond_ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        820,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Or\u00e7amento": {
      "main": [
        [
          {
            "node": "Motor Or\u00e7amento v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor Or\u00e7amento v3": {
      "main": [
        [
          {
            "node": "SMTP Interno DL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Diogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMTP Interno DL": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Diogo": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}