DL_NEXUS_V3_LOCAL/12_N8N_WORKFLOWS_PROXIMOS/202_SOLAR_BACKUP_CARGAS_CRITICAS.json
{
  "name": "202_SOLAR_BACKUP_CARGAS_CRITICAS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-backup-cargas",
        "options": {}
      },
      "id": "webhook_receptor",
      "name": "Trigger Cargas Criticas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const orcamento = $json.body || {};\nconst cargas = orcamento.cargas_criticas || [];\n\nlet potencia_total_w = 0;\nlet potencia_simultanea_w = 0;\nlet energia_diaria_wh = 0;\nlet tem_motor_bloqueante = false;\nconst pendencias_cargas = [];\n\ncargas.forEach(c => {\n  const p = Number(c.potencia_w) || 0;\n  const q = Number(c.quantidade) || 1;\n  const h = Number(c.horas_uso_diario) || 0;\n  const isSimultanea = c.simultanea !== false;\n  const isMotor = !!c.motor;\n  \n  potencia_total_w += p * q;\n  if (isSimultanea) {\n    potencia_simultanea_w += p * q;\n  }\n  energia_diaria_wh += p * q * h;\n  \n  if (isMotor) {\n    const p_partida = c.pico_partida || {};\n    if (c.nome_carga.toLowerCase().includes('elevador')) {\n      tem_motor_bloqueante = true;\n      pendencias_cargas.push(`Elevador Social/Serviço '${c.nome_carga}' requer projeto de partida e análise de engenharia dedicada.`);\n    } else if (!p_partida.tipo_partida || p_partida.tipo_partida === 'desconhecido' || !p_partida.corrente_partida_a) {\n      tem_motor_bloqueante = true;\n      pendencias_cargas.push(`Motor/Bomba '${c.nome_carga}' sem dados de pico de partida definidos.`);\n    }\n  }\n});\n\nreturn {\n  ...orcamento,\n  dimensionamento_backup_calculado: {\n    ...(orcamento.dimensionamento_backup_calculado || {}),\n    energia_critica_diaria_kwh: Number((energia_diaria_wh / 1000).toFixed(3)),\n    potencia_critica_total_kw: Number((potencia_total_w / 1000).toFixed(3)),\n    potencia_critica_simultanea_kw: Number((potencia_simultanea_w / 1000).toFixed(3)),\n    tem_motor_bloqueante,\n    pendencias_cargas\n  },\n  status: 'calculado_cargas'\n};"
      },
      "id": "calcular_cargas",
      "name": "Calcular Cargas e Simultaneidade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://db.nejdtvkpiclagsnfljsz.supabase.co/rest/v1/dl_solar_orcamentos?protocolo=eq.{{$json.protocolo}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"energia_critica_kwh\": {{ $json.dimensionamento_backup_calculado.energia_critica_diaria_kwh }},\n  \"potencia_critica_kw\": {{ $json.dimensionamento_backup_calculado.potencia_critica_total_kw }},\n  \"potencia_critica_simultanea_kw\": {{ $json.dimensionamento_backup_calculado.potencia_critica_simultanea_kw }},\n  \"status\": \"{{ $json.status }}\"\n}"
      },
      "id": "atualizar_supabase_cargas",
      "name": "Atualizar Supabase Cargas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ]
    }
  ],
  "connections": {
    "Trigger Cargas Criticas": {
      "main": [
        [
          {
            "node": "Calcular Cargas e Simultaneidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Cargas e Simultaneidade": {
      "main": [
        [
          {
            "node": "Atualizar Supabase Cargas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
