DL_NEXUS_V3_LOCAL/12_N8N_WORKFLOWS_PROXIMOS/208_SOLAR_BACKUP_GERADOR_PROPOSTA_MARKDOWN.json
{
  "name": "208_SOLAR_BACKUP_GERADOR_PROPOSTA_MARKDOWN",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-backup-gerar-markdown",
        "options": {}
      },
      "id": "webhook_receptor",
      "name": "Trigger Gerador MD",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const orcamento = $json.body || {};\nconst cliente = orcamento.cliente || {};\nconst dados_eletricos = orcamento.dados_eletricos || {};\nconst dados_conta = orcamento.dados_conta || {};\nconst calc = orcamento.dimensionamento_backup_calculado || {};\nconst financeiro = orcamento.financeiro || {};\nconst compliance = orcamento.compliance_killcritic || {};\nconst cargas = orcamento.cargas_criticas || [];\n\n// Renderizar Cargas Críticas em formato lista Markdown\nconst cargas_md = cargas.map(c => {\n  const motor_text = c.motor ? ' | *Motor com pico de partida (requer análise)*' : '';\n  return `- **${c.nome_carga}**: ${c.potencia_w} W | Qtd: ${c.quantidade} | Uso diário: ${c.horas_uso_diario}h${motor_text}`;\n}).join('\\n');\n\n// Renderizar Pendências em formato lista Markdown\nconst pendencias_md = compliance.pendencias_criticas.map(p => `- [ ] ${p}`).join('\\n');\nconst bloqueios_md = compliance.motivos_bloqueio.map(b => `- ${b}`).join('\\n');\n\n// Renderizar Baterias sugeridas\nconst baterias_sugeridas = calc.baterias_sugeridas || [];\nconst baterias_md = baterias_sugeridas.map(b => `${b.quantidade}x ${b.modelo} (Capacidade total de ${calc.bateria_nominal_kwh} kWh)`).join(', ') || 'Pendente definição';\n\n// 1. TEMPLATE CLIENTE\nconst md_cliente = `# PROPOSTA COMERCIAL PRELIMINAR — SOLUÇÃO ECOVOLT (SOLAR HÍBRIDO & BACKUP DE BATERIAS)\n**Protocolo:** ${orcamento.protocolo}\n**Data de Emissão:** ${new Date().toLocaleDateString('pt-BR')}\n\n---\n\n## 1. TÍTULO\n**Estudo de Pré-Dimensionamento de Sistema Solar Fotovoltaico Híbrido com Armazenamento de Energia para Cargas Críticas**\n\n## 2. IDENTIFICAÇÃO DO CLIENTE\n- **Cliente / Condomínio:** ${cliente.nome}\n- **Tipo de Cliente:** ${cliente.tipo_cliente}\n- **Responsável / Decisor:** ${cliente.responsavel}\n- **Local de Instalação:** ${cliente.endereco}, ${cliente.bairro} - ${cliente.cidade}/RJ\n- **Contato:** ${cliente.whatsapp} / ${cliente.email}\n\n## 3. OBJETIVO DA SOLUÇÃO\nProver resiliência energética contínua para cargas essenciais do cliente por meio de armazenamento de bateria de lítio integrado a sistema gerador fotovoltaico híbrido. O foco reside na autonomia durante falhas da concessionária de energia e na otimização do perfil de consumo, operando de forma autônoma e segura.\n\n## 4. DIAGNÓSTICO PRELIMINAR\nCom base no histórico médio de consumo de **${dados_conta.consumo_mensal_kwh} kWh/mês** e no custo financeiro informado, identificou-se a demanda para contingência das cargas críticas pré-selecionadas e a viabilidade técnica de microgeração fotovoltaica complementar para redução do consumo elétrico da rede da concessionária.\n\n## 5. PREMISSAS TÉCNICAS\n- **Tensão de Atendimento:** ${dados_eletricos.tensao} V\n- **Padrão de Ligação:** ${dados_eletricos.tipo_ligacao}\n- **Disjuntor Geral:** ${dados_eletricos.disjuntor_geral} A\n- **Autonomia de Backup Solicitada:** ${orcamento.autonomia_desejada_horas} horas\n- **Parâmetros Técnicos Básicos:** Eficiência do sistema de 85% e Profundidade de Descarga (DoD) de 80% para baterias de fosfato de ferro-lítio (LFP).\n\n## 6. CARGAS CRÍTICAS CONSIDERADAS\nLista de cargas essenciais integradas ao circuito de backup preliminar:\n${cargas_md}\n- **Potência Crítica Instalada:** ${calc.potencia_critica_total_kw} kW\n- **Potência de Simultaneidade Estimada:** ${calc.potencia_critica_simultanea_kw} kW\n- **Consumo Energético Diário Crítico:** ${calc.energia_critica_diaria_kwh} kWh/dia\n\n## 7. ESTIMATIVA DE SISTEMA SOLAR\n- **Arranjo Fotovoltaico Preliminar:** ${orcamento.dimensionamento_solar_calculado ? orcamento.dimensionamento_solar_calculado.sistema_solar_kwp_preliminar : 0} kWp\n- **Geração Média Estimada:** ${orcamento.dimensionamento_solar_calculado ? orcamento.dimensionamento_solar_calculado.geracao_mensal_estimada_kwh : 0} kWh/mês\n- **Redução Estimada de Consumo:** Estimativa de redução de consumo da rede da concessionária, sujeita à análise final da conta de energia, irradiação local efetiva, perfil de consumo de cargas, homologação e tarifas. **Não há promessa ou garantia de economia fixa.**\n\n## 8. ESTIMATIVA DE BACKUP COM BATERIAS\n- **Energia Útil Necessária:** ${calc.bateria_util_kwh} kWh (para suprir a autonomia durante ausência de sol)\n- **Energia Nominal do Banco:** ${calc.bateria_nominal_kwh} kWh\n- **Margem de Segurança Técnica Aplicada:** ${((calc.paramentos_calculo || {}).margem_tecnica * 100) || 25}%\n- **Capacidade de Descarga Suportada:** ${calc.bateria_capacidade_descarga_kw} kW contínuos\n\n## 9. EQUIPAMENTOS PRINCIPAIS SUGERIDOS (CORSOLAR / SOLAXPOWER)\n- **Inversor Híbrido:** ${calc.inversor_sugerido} (SolaXPower Híbrido)\n- **Módulos de Armazenamento:** Bateria Triple Power LFP (capacidade total aproximada de ${calc.bateria_nominal_kwh} kWh - sugerido: ${baterias_md})\n- *Obs: Modelos, quantidades e capacidades definitivos estão sujeitos à validação comercial e estoque de fornecedores no momento do fechamento.*\n\n## 10. ESCOPO DE FORNECIMENTO\n- Equipamento inversor híbrido inteligente.\n- Banco de baterias de lítio Triple Power (LFP) com módulo BMS integrado.\n- Módulos solares fotovoltaicos de silício monocristalino de alta eficiência.\n- Estrutura de fixação mecânica e String Box de proteção (CC/CA).\n\n## 11. ESCOPO DE INSTALAÇÃO\n- Engenharia e projeto de adequação física do espaço.\n- Fixação mecânica e elétrica dos inversores, baterias e módulos.\n- Lançamento de cabos de potência e conexões.\n- Parametrização e ativação operacional do sistema híbrido.\n\n## 12. EXCLUSÕES\n- Adequações estruturais de telhados, reforço de lajes ou remoção de obstáculos físicos (árvores, antenas).\n- Modificações no padrão de entrada da concessionária que superem o disjuntor geral existente.\n- Alimentação de cargas pesadas não críticas (como fornos elétricos, chapas, resistências elétricas, fritadeiras ou ar-condicionado central).\n\n## 13. PENDÊNCIAS PARA CONFIRMAÇÃO\nAs pendências críticas identificadas que bloqueiam a emissão de uma proposta comercial final são:\n${pendencias_md}\n\n## 14. OBSERVAÇÕES TÉCNICAS (OBRIGATÓRIO)\n> **[!IMPORTANT]**\n> **Dimensionamento preliminar sujeito à Avaliação Técnica, análise da conta de energia, confirmação das cargas críticas, tensão de atendimento, local de instalação e compatibilidade dos equipamentos.**\n\n## 15. CONDIÇÕES COMERCIAIS\n- **Valor Estimado Preliminar:** R$ ${(financeiro.valor_final_estimado || 0).toFixed(2)}\n- **Validade do Estudo:** 10 dias corridos a partir desta emissão.\n- **Tipo de Orçamento:** Pré-dimensionamento. O preço final e o cronograma de instalação definitiva serão definidos em proposta final após a realização de Avaliação Técnica presencial obrigatória.\n\n## 16. CONCLUSÃO\nEste pré-dimensionamento visa fundamentar as discussões sobre o investimento técnico em resiliência de energia para o condomínio/estabelecimento. Convidamos o responsável para agendamento de uma **Avaliação Técnica presencial** para validação física e elétrica dos pontos de rede.\n\n## 17. DADOS DA DL\n**DL Soluções Condominiais LTDA**\nCNPJ: 37.953.703/0001-00\nRio de Janeiro - RJ\nFale com nosso consultor no Direct/WhatsApp.`;\n\n// 2. TEMPLATE INTERNO\nconst md_interno = `# RELATÓRIO INTERNO DE ANÁLISE TÉCNICA E COMERCIAL — ECOVOLT\n**Protocolo:** ${orcamento.protocolo}\n**Versão Atual:** V1_gerada\n\n---\n\n## 1. CUSTOS INTERNOS\n- **Custo Insumos / Equipamentos SolaX/Baterias:** R$ ${(financeiro.custos_estimados_equipamentos || 0).toFixed(2)}\n- **Custo Logística / Impostos:** R$ ${(financeiro.logistica_impostos || 0).toFixed(2)}\n- **Custo Instalação (Homem-Hora):** R$ ${(financeiro.custo_instalacao_estimado || 0).toFixed(2)}\n- **Custo Total Estimado (C.O.GS):** R$ ${((financeiro.custos_estimados_equipamentos || 0) + (financeiro.logistica_impostos || 0) + (financeiro.custo_instalacao_estimado || 0)).toFixed(2)}\n\n## 2. FORNECEDOR\n- **Parceiro Fornecedor Principal:** Corsolar (SolaXPower Brasil)\n- **Status:** Equipamento de referência preliminar marcado como pendente_validacao.\n\n## 3. MODELO SUGERIDO\n- **Inversor:** ${calc.inversor_sugerido}\n- **Módulo Bateria:** ${baterias_md}\n\n## 4. PREÇO MÁXIMO DE COMPRA\n- **Inversor:** R$ ${(financeiro.custos_estimados_equipamentos * 0.45 || 0).toFixed(2)}\n- **Bateria:** R$ ${(financeiro.custos_estimados_equipamentos * 0.55 || 0).toFixed(2)}\n\n## 5. MARGEM\n- **Margem Bruta:** ${financeiro.margem_bruta_porcentagem || 35}%\n- **Markup:** ${(1 / (1 - ((financeiro.margem_bruta_porcentagem || 35) / 100))).toFixed(2)}\n- **Valor de Venda Proposto:** R$ ${(financeiro.valor_final_estimado || 0).toFixed(2)}\n\n## 6. RISCO TÉCNICO\n- Verificação de padrão trifásico e QGBT.\n- Avaliação física do peso das baterias Triple Power (sala técnica).\n- Risco de sobrecarga por motores e bombas pesadas em paralelo.\n\n## 7. RISCO COMERCIAL\n- Flutuação cambial de custos na Corsolar.\n- Expectativa de economia sem Avaliação Técnica.\n\n## 8. PENDÊNCIAS COMERCIAIS\n${pendencias_md}\n\n## 9. ESTRATÉGIA DE NEGOCIAÇÃO\n- Priorizar agendamento da Avaliação Técnica presencial.\n- Focar no valor de contingência e resiliência (evitar focar apenas em desconto comercial).\n\n## 10. HISTÓRICO DE VERSÕES\n- V1: Versão automática gerada pelo Motor Solar.\n\n## 11. RECOMENDAÇÃO KILLCRITIC\n- **Auditoria:** ${compliance.status_killcritic}\n- **Risco:** Risco ${compliance.risco_killcritic}\n- **Motivos de Bloqueio:**\n${bloqueios_md}`;\n\nreturn {\n  ...orcamento,\n  proposta_markdown: {\n    cliente: md_cliente,\n    interna: md_interno\n  },\n  status: 'proposta_gerada'\n};"
      },
      "id": "renderizar_propostas",
      "name": "Renderizar Templates MD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://db.nejdtvkpiclagsnfljsz.supabase.co/rest/v1/dl_solar_orcamento_versoes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"orcamento_id\": \"{{ $json.id || '00000000-0000-0000-0000-000000000000' }}\",\n  \"versao\": \"V1_gerada\",\n  \"markdown_cliente\": \"{{ $json.proposta_markdown.cliente.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\",\n  \"markdown_interno\": \"{{ $json.proposta_markdown.interna.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\",\n  \"json_calculo\": {{ JSON.stringify($json) }},\n  \"aprovado_killcritic\": {{ $json.compliance_killcritic.valida_calculo_aprovada }},\n  \"status_killcritic\": \"{{ $json.compliance_killcritic.status_killcritic }}\"\n}"
      },
      "id": "salvar_supabase_versao",
      "name": "Salvar Versao Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ]
    }
  ],
  "connections": {
    "Trigger Gerador MD": {
      "main": [
        [
          {
            "node": "Renderizar Templates MD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renderizar Templates MD": {
      "main": [
        [
          {
            "node": "Salvar Versao Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
